[2019-12-05 13:27] damianosmel opened #2 "Short typo(?)"
Dear contributors,

thank you for your library to embed protein sequence. I guess that the following [elif](https://github.com/sacdallago/bio_embeddings/blob/576c6b394734f6676e627007f237f79a34891605/bio_embeddings/embedders/elmo/ElmoEmbedder.py#L78) should be
`elif self._version == 2`.

Many thanks!
Damianos

[2019-12-08 22:23] sacdallago commented on #2
Thanks @damianosmel ; this is super alpha, so all help is appreciated!! I'm working on a very big backend change which does not break the workflow if you just use

[code]

Check out: https://github.com/sacdallago/bio_embeddings/tree/pipeline

I think I'll be through with this by end of year

[2019-12-09 09:22] damianosmel commented on #2
sure @sacdallago ! nice work :100:  I also work on protein embeddings, let you know when I _can_ publish the code, would be useful for the community to have all the embeddings in one repo..

btw: for me it's straightforward how to use seqvec and average out to get "MNTPA" -> [3,5,1024] -> [5,1024] -> [1024]. However, I would like also to get the embedding for each character and not average out.. I

[2019-12-09 09:22] #2 closed

[2019-12-09 18:18] sacdallago commented on #2
Sure @damianosmel , that'd be awesome: the more models, the better!

RE your second question: we haven't really tried many things; per char (aka AA), we directly slapped a CNN on the sum (see https://github.com/sacdallago/bio_embeddings/blob/576c6b394734f6676e627007f237f79a34891605/bio_embeddings/embedders/elmo/ElmoEmbedder.py#L178 and https://github.com/sacdallago/bio_embeddings/blob/master/bio_e

[2019-12-10 10:54] damianosmel commented on #2
Sure @sacdallago! currently it's WIP (PhD best phrase :P) if all go well I would like to submit the work in the end of January, hope it goes smooth..
RE I see.. and I see also that you nicely _share_ the weights between tasks as shown in the SeqVec paper. To use your embeddings I currently do:
[code]
and then I follow the architecture in the SeqVec paper, like the one you shared.
Many thanks again

[2019-12-10 18:31] sacdallago commented on #2
WIP is the PhD life ;)

[2020-04-08 15:12] sacdallago opened #6 "Sort sequences by length when re-mapping"
Related to https://github.com/Rostlab/SeqVec/issues/10

[2020-04-08 15:13] sacdallago opened #7 "Implement intermittent write-to-storage for > 5k sequences"
Related to https://github.com/Rostlab/SeqVec/issues/10

[2020-04-16 16:53] #6 closed

[2020-04-21 09:15] sacdallago commented on #7
Done on private fork

[2020-04-25 20:49] cjneely10 opened #8 "Set number of threads"
Good day,

Quick question: Is there any way to set the number of threads in the `bio_embeddings` pipeline - either from within the config file or from the command line?

Thank you.

[2020-04-27 07:14] sacdallago commented on #8
Hey @cjneely10
thanks for using the library.

- The CPU operations (e.g. data preparation etc.) performed by the pipeline are single threaded and we won't support multi-threading for these (in our experience this has never been necessary)

- The embedding operations are upscaled to all available CPU cores IF performed on CPU. Note that CPU usage is *not encouraged* (it sort of defeats the purpose)

[2020-05-01 17:03] #7 closed

[2020-05-04 07:37] sacdallago opened #9 "Better handling of input FASTA and processing of sequences in pipeline"
For LSTM based models (e.g. SeqVec) the longer protein sequences go, the more computational resources are needed. Especially for long sequences, resorting to GPU computing might result in RAM exceptions, halting the computation. While there is a mechanism in place to fall back on CPU for longer sequences based on a maximum count of AA in the sequence or a sequence set, this could still result in a

[2020-05-04 07:44] sacdallago opened #10 "Add `extract` step"
Allow an additional pipeline step that takes an already embedded dataset and some annotation of it (basically what visualize does but on raw embeddings) and uses some metric to annotate the current embeddings using the "background" information.

Use case: I have a large set of antibodies, some with a desired property. I have a new set of unannotated antibodies and want to figure out which one in t

[2020-05-04 08:08] sacdallago opened #11 "Catch embedding exception, close embedding file"
Right now, embeddings are written iteratively on an opened embeddings file (either whole or reduced). If the embeddings step fail (e.g. by running out of memory) the files will be abruptly closed (not `close()`) resulting in corrupted files.

Ideally, we want to close the files correctly no matter what. This might require a bigger re-engineering of the FileSystem file handler, which just gives rea

[2020-05-04 09:51] sacdallago commented on #10
Allow for parameter defining the number of NN recorded. Translate this into CSV of the new set (mapping file) + additional columns `nn_x`, `nn_x_score` with x being the i-th NN and score being the distance

[2020-05-05 08:30] sacdallago opened #12 "Catch embedding CUDA out of memory error and collect for later processing"
Currently, if CUDA runs out of memory, the samples won't be processed and #11 happens. Additionally to fixing that for unknown problems, collect sequences that spawn known problems for processing on CPU. If even that's not possible, then throw error!

[2020-05-05 09:41] sacdallago commented on #12
Ref: https://github.com/Rostlab/SeqVec/blob/master/seqvec/seqvec.py#L198

[2020-05-05 10:13] sacdallago opened #13 "Remove dependency from ruamel_yaml"
Remove dependency from `ruamel_yaml` and use `pyyaml` instead.

[2020-05-06 13:13] sacdallago opened #14 "Dockerize pipeline and create example for docker execution"
As from title.

Important: use of volumes / output folder / prefix!

[2020-05-27 09:50] sacdallago opened #15 "Add timestamp for job submission and termination"
Frite a file at the end of the execution (maybe also at the beginning) with information about CPU/GPU/RAM consumption (optional) and creation + termination time. Idea came from PP call...

[2020-06-09 13:54] sacdallago commented on #11
From @konstin

https://docs.python.org/3/library/contextlib.html#contextlib.nullcontext

[2020-06-10 09:06] konstin opened #16 "Warning "Failed to create stage directory" when using overwrite"
When running a pipeline the second time I get a warning, even though I'm using `--overwrite`:

[code]

Depending on the desired behaviour, this can e.g. be solved by replacing `os.mkdir(path)` with `os.makedirs(path, exist_ok=True)` or by calling `shutil.rmtree` before if the directory exists.

[2020-06-10 09:40] konstin opened #17 "FileSystemFileManager constructor gets values even though doesn't take any"
The only existing `file_manager`, `FileSystemFileManager` doesn't have an `__init__` function, as it does not have any parameters, and `FileManagerInterface` doesn't specify any constructor. Thus setting any value in `management` other the default empty dict raises an exception in `file_manager(**management)`.

https://github.com/sacdallago/bio_embeddings/blob/9a07822d9d5f1dd6349be5a9a0fce10fdeb44

[2020-06-15 12:40] sacdallago commented on #16
I'd rather go for:

[code]

I also realized, that we shouldn't just catch the exceptions, but also raise them again (no point in continuing execution if something can't be written). I'll open a PR on gitlab

[2020-06-15 12:46] sacdallago commented on #16
P.S.: `shutil.rmtree` would be a bit too destructive for me. I've tried to implement a cheap overwrite, file-by-file, by simply doing:

[code]

This will zero the file's contents and update the "last modified" flag 🤷

[2020-06-15 15:22] sacdallago opened #18 "Add resource use information"
Breaking down #15

Low priority + GPU utilization monitoring is complex in multi-GPU environments.

[2020-06-17 13:32] sacdallago opened #19 "Annotation transfer"
Keeping this vague :P but, what @mariasche and I discussed today.

Notes here:

- Annotation file will have multiple annotations for one target (!!)
- Comparison function can be optimized, look at provided code.

[2020-06-25 15:04] sacdallago commented on #12
Action plan:

##### General pipeline

- [ ] sort proteins ascending instead of descending. [Here](https://github.com/sacdallago/bio_embeddings/blob/master/bio_embeddings/utilities/helpers.py#L76) change to `-len(seq)` at the end

##### SeqVec specific

- Using the [mapping file](https://github.com/sacdallago/bio_embeddings/blob/master/bio_embeddings/embed/pipeline.py#L69):
  - [ ] If there are any

[2020-06-29 08:04] sacdallago commented on #19
A duplicate of #10

[2020-06-29 08:04] #19 closed

[2020-06-29 08:07] sacdallago opened #20 "Cache downloaded items instead of saving them to tmp"
For the general purpose embedder classes (e.g. [this](https://github.com/sacdallago/bio_embeddings/blob/master/bio_embeddings/__init__.py#L18), instead of storing the downloaded files in tmp (= at every re-run, re-download the file)), store the file in a cache.

[2020-06-30 13:23] sacdallago opened #21 "Integrate provis"
https://github.com/salesforce/provis

[2020-06-30 13:30] sacdallago opened #22 "Integrate PLUS"
https://github.com/mswzeus/PLUS/

[2020-07-03 16:42] sbasak3 opened #23 "Please upload the Albert weight file"

[2020-07-06 08:45] sacdallago commented on #23
Hi @sbasak3 , the Albert weight files are not currently freely available as we are pending publication on that model. We expect a preprint of that work to be online shortly (1 week from now; @agemagician and @mheinzinger correct me if I'm wrong). Once that's the case, the weights will be made available online. If you need the weights before that (within the next 7 days), please contact us at `dl <

[2020-07-07 07:28] sacdallago opened #24 "Create basic google collab for embedding generation"
@konstin & @t03i you might have more experience with this: I would like to make a very basic google collab (a notebook using Google's hardware: why not; free TPU/GPU) to put in the Readme (basically, the same as https://github.com/sacdallago/bio_embeddings/blob/master/notebooks/embed_fasta_sequences.ipynb , but including the `pip install` directive, and storing of the embeddings to a file).

Unfor

[2020-07-09 12:03] #16 closed

[2020-07-09 12:03] #15 closed

[2020-07-09 12:04] #17 closed

[2020-07-09 12:04] #12 closed

[2020-07-09 12:04] #11 closed

[2020-07-09 12:04] #9 closed

[2020-07-09 12:04] sacdallago opened #26 "Refactor cuda device assignation"
Currently, in one form or another, in various parts of the pipeline, this is used:

[code]

The problem here is that `cuda:0` will always refer to the `0` card. In systems hosting multiple cards, this will be painful. workoarounds are:
- NOT defining the device number, aka, just `cuda` (see: https://pytorch.org/docs/stable/tensor_attributes.html#torch.torch.device), or
- allow the device number to

[2020-07-11 08:16] sacdallago opened #27 "Add timestamp to logger"
@konstin you were completely right: logging with timestamp is much better than just logging. I now have a pipeline run that has been running for at least 12h for which generating a plot is taking ages (this is expected). Nevertheless, would be nice to know when it started :)

For now, I only see when UMAP finished (which is still a good indicator, but, yeah... :D)

[code]

[2020-07-14 15:43] sacdallago commented on #23
They are available for download now: http://maintenance.dallago.us/public/embeddings/embedding_models/

[2020-07-14 15:43] #23 closed

[2020-07-15 07:32] sacdallago commented on #26
Only relevant once we can test on GPU server

[2020-07-15 07:39] sacdallago opened #28 "Albert, bert, and xlnet improvements"
- [x] Batch processing should be improved. See: https://github.com/agemagician/ProtTrans/tree/master/Embedding/Advanced

As of now, this seems to be the only major "lacking" thing.

[2020-07-15 07:41] sacdallago opened #29 "Decouple LM dependencies from package dependencies"
@konstin proposed some new fancy thing that allows to have different levels of dependencies (like modules in `npm`) in the same pip installable package. This will be particularily useful once we have more LMs (and even now, with the gigantic allennlp depenency + transformers dependency).

[2020-07-15 07:47] sacdallago opened #30 "Evaluation step or script with tape"
In order to address the problem of evaluting LMs "seamlessly", there should be a way of hooking up TAPE: https://github.com/songlab-cal/tape/

[2020-07-15 13:42] sacdallago opened #31 "Integrate UniRep"
https://www.biorxiv.org/content/10.1101/589333v1

Notice that UniRep has been re-engineered. Look for "jax-unirep":

From an ISMB comment:

[2020-07-15 16:21] sacdallago opened #32 "Future direction: embeddings for DNA and RNA"
- DNA: https://www.biorxiv.org/content/10.1101/836163v1.full

[2020-07-16 10:21] #28 closed, assigned to konstin

[2020-07-16 10:43] sacdallago opened #33 "Assorted improvements in embed"
Reading through current develop, things that I noticed:

- (for general purpose users) we have to decide if we want to make it `from bio_embeddings import SeqVecEmbedder` or `from bio_embeddings.embed import SeqVecEmbedder`; now it's inconsistent: https://github.com/sacdallago/bio_embeddings/blob/14f1de5754221452c27d2e2c5420f191bb2ecc00/bio_embeddings/__init__.py

  Up to you @konstin

- Once that

[2020-07-16 16:19] sacdallago opened #34 "Improvement in embedding estimation"
@mheinzinger proposes that instead of `tqdm` counting proteins, it counts amino acids while embedding (definitely a better measure!).

I think: great idea, but VERY low priority. Especially if this requires a lot of coding.

[2020-07-16 17:16] sacdallago commented on #33
Another note; after @mheinzinger fixed the batching code, there is now no fallback for CPU like there is in SeqVec:

[code]

Ideally, also the transformer models should fallback on single processing then CPU on hard samples (for consistency).

**EDIT** current stats (using bert):

max_amino_acids:40k --> 87.65 GiB
max_amino_acids:20k --> 10.96 GiB
max_amino_acids:15k --> 10.96 GiB (same as above;

[2020-07-16 17:47] sacdallago opened #35 "CPU fallback for Bert"
As mentioned [here](https://github.com/sacdallago/bio_embeddings/issues/33#issuecomment-659551972), there seems to be a problem with batching in Bert.

The set I've used for the tests is `viruses_90` from the test sets on oculus (in case you want to reproduce the run :) ).

I think that enhancing with the SeqVec `single sequence --> CPU --> fail` strategy will solve this issue, too.

[2020-07-17 07:32] sacdallago opened #36 "Inhertiance over helper functions"
Instead of [this](https://github.com/sacdallago/bio_embeddings/blob/develop/bio_embeddings/embed/helper.py#L11), I would rather you create another interface (`TransformerEmbedderInterface`) which extends [`EmbedderInterface`](https://github.com/sacdallago/bio_embeddings/blob/develop/bio_embeddings/embed/embedder_interface.py#L17) and then defines [`embeds_batch`](https://github.com/sacdallago/bio_

[2020-07-17 07:38] sacdallago opened #37 "Log storage estimate"
At the beginning of any embed pipeline run, calculate (by means of the mapping file) the expected size of the embedding file and the reduced embedding file.

As formula:

[code]

[2020-07-17 07:39] konstin commented on #36
Yeaj, that's why I added the `# TODO: Move this once everything works` at the top of file. I have to check this, but I think we can just use the same class for Bert and Albert, or at least have a common superclass for all embedders.

[2020-07-17 07:41] sacdallago commented on #36
Awesome :)

Sorry that I'm opening so many issues, but I'm trying to list things as I ~lose sleep over them~ come across stuff :)

[2020-07-17 07:45] sacdallago commented on #37
Note to self: in the embedder interface, define as [class constants](https://stackoverflow.com/a/2736417):

[code]

then add a method which computes the size of per-aa and per-protein embeddings.

[2020-07-17 09:12] konstin commented on #35
As memory consumption grows quadratically per sequence, I think we should also try batching by the length squared instead of just the lenght

[2020-07-18 22:32] ptynecki opened #38 "[SeqVec2] Unable to open object (object 'char_embed' doesn't exist)"
Hey,

I'm trying to use [SeqVecEmbedder](https://github.com/sacdallago/bio_embeddings/blob/develop/bio_embeddings/embed/seqvec_embedder.py#L15) with the newest [SeqVec v2](http://maintenance.dallago.us/public/embeddings/embedding_models/seqvec_v2/) weights and options files.

[code]

After that I received the KeyError exception:

[code]

I discovered similar problem on the AlleNLP issues [[1]](htt

[2020-07-18 22:43] ptynecki opened #39 "[XLNet] Unable to open file (file signature not found)"
Hey,

I'm trying to use [XLNetEmbedder](https://github.com/sacdallago/bio_embeddings/blob/develop/bio_embeddings/embed/xlnet_embedder.py#L20) with the newest [XLNet](http://maintenance.dallago.us/public/embeddings/embedding_models/xlnet/) weights and options files (another source found in the dropbox cloud).

[code]

After that I received the OSError exception:

[code]

Thanks for your time for lo

[2020-07-19 18:53] sacdallago commented on #38
Hi @ptynecki , thanks for reporting the issue.

SecVec v2 is an experimental SeqVec version which I do not encourage you to use. I've kept it in the pipeline for the _real_ SeqVec v2 which is still in planning phase ;) I would encourage you to rather use the traditional `seqvec` or the newer `bert`. Mind that there are issues being worked on on `bert` (#33 & #35 )

[2020-07-19 19:01] sacdallago commented on #39
Thanks @ptynecki .

A few follow up questions:

- How did you install the pipeline (from github or from pypi)? (it seems to me you installed from GitHub, but just double checking)
- Do you by any chance have the full output of the error?
- Have you tried passing the dir withouth the leading `/`, aka `'models/xlnet'`?
- Have you tried using the weights from the maintenance.dallago.us website?

It's

[2020-07-19 19:40] ptynecki commented on #39
`How did you install the pipeline (from github or from pypi)? (it seems to me you installed from GitHub, but just double checking)`

Correct, I installed the package from the GitHub (develop branch I guess):

[code]

`Do you by any chance have the full output of the error?`

[code]

`Have you tried passing the dir withouth the leading /, aka 'models/xlnet'?`

I tried both and both raised the excep

[2020-07-19 19:47] ptynecki commented on #38
Got it.

Thank you for your clarification.

I've been using traditional SeqVec for months and I'm very exited and happy about the achieved results in my research (bacteriophages deeper understanding).

BERT, ALBERT and XLNet pre-trained models are the next in me agenda. I'm going to compare each of them in two classification issues in my domain.

[2020-07-20 07:20] mheinzinger commented on #38
Short addendum to Chris' answer: for SeqVec "v2", we removed the CharCNN to see the impact on performance; so the error rather highlights that we need to refine our description of the model.

[2020-07-20 07:20] #38 closed, assigned to sacdallago, mheinzinger

[2020-07-20 14:31] #37 closed, assigned to sacdallago

[2020-07-21 08:00] sacdallago commented on #39
Thanks @ptynecki , so to me it seems that this issue is solved by using the .zip shipped with the pipeline instead of that provided by Ahmed.

Again, as a word of caution: I would not use these embedders as is right now! I can ping you on here once I think it's safe for you to use them for your downstream tasks ;)

[2020-07-21 08:00] #39 closed, assigned to konstin

[2020-07-21 19:52] sacdallago commented on #24
Thanks to some external help, this has progressed nicely :) @t03i let's update this once `0.1.4` is out with the stable `pip install`.

[2020-07-24 20:27] konstin commented on #33
Should we just make this a generic part of all embedders in the `EmbedderInterface`? Also do we only want this only when batching or always? And finally, do we want or need a way to turn the CPU fallback off?

[2020-07-25 12:44] sacdallago commented on #33
Ideally. You have now done this: great. it's just one of those things that became clear later in dev that needed to be generalized :)

Whenever `embed_many` is called, I suppose.

No. If you decide to embed using the pipeline on a CPU system, you need the CPU fallback (that will be the default, I suppose), and then it will die if it doesn't work.

[2020-07-25 12:50] sacdallago opened #40 "Remove embedders from GPU memory post-embed phase in pipeline"
I once had a situation in which the pipeline was in a "visualize" stage, but the GPU was still occupied by the embedder (SeqVec).

I had assumed that the embedder is destroyed adter the embed stage (the stages are written in a way whuch should make python's authomatic garbage collection easy). But apparently I was wrong.

Maybe it makes sence to explecitely `del embedder` at the end of the embed s

[2020-07-27 20:32] sacdallago opened #41 "Pass per-aa layer reducer as parameter in config"
In order to address the problem of `RAW` embeddings occupying too much storage in case of big transformers, e.g. `bert`, and to have the least amount of "default destruction" imposed by the pipeline: allow users to define an "on the fly layer reducer" function, aka. a lambda function via the config.

Cons: lambdas cannot be expressed in YAML, so needs to be a string (which then gets `eval`ed in py

[2020-07-27 20:40] sacdallago commented on #41
Added complication: the normal `reduce_per_protein` function will fail if a a trasnformation is applied on the RAW embeddings. :thinking: hmmm... Therefore the order should be:

- Get embeddings
- Reduce (if needed, as from config)
- Transform (if needed, as from config)

I think the correct nomenclature would then be `transform_raw_embedidng` or something down that lane, but contining the name [`

[2020-07-31 08:28] #36 closed, assigned to konstin

[2020-07-31 08:28] #35 closed, assigned to nobody

[2020-07-31 08:29] #33 closed, assigned to konstin

[2020-08-01 13:22] #27 closed, assigned to sacdallago

[2020-08-01 13:29] sacdallago commented on #10
Phase 1: extract supervised for SeqVec added :heavy_check_mark:

Phase 1B: do the same for Bert. Thx @mheinzinger  :heavy_check_mark:

Phase 2: Unsupervised, aka Maria's work 🕐

[2020-08-07 17:31] gregmcinnes opened #42 "MD5 Clashes among unique sequences"
I'm hitting the MD5Clash when I have only unique sequences in my dataset.  I edited the code to remove the exception but there should be an option to ignore this.

    This most likely indicates there are multiple identical sequences in your FASTA file.
    MD5 hashes are used to remap sequence identifiers from the input FASTA.
    This error exists to prevent wasting resources (computing the same

[2020-08-07 18:05] gregmcinnes opened #43 "General purpose embedders not loading"
I'm trying to use the embedders within a python script but they are not loading.  I've tried just the example code from the README, but this is what I get

    Traceback (most recent call last):
      File "<stdin>", line 1, in <module>
      File "/share/PI/rbaltman/gmcinnes/bin/miniconda3/envs/bioembeddings/lib/python3.6/site-packages/bio_embeddings/embed/seqvec_embedder.py", line 48, in __init_

[2020-08-08 09:14] sacdallago commented on #42
Hey @gregmcinnes

Thanks for using the `bio_embeddings` pipeline.

I have not had an MD5 hash ever in a sequence diverse (<100% redundancy) set (and this while embedding very large datasets). So, just for the sake of it (although you seem to have done it already): make sure you do not have 100% identical sequences in your set!

Careful! Just commenting out the error will result in unexpected behav

[2020-08-08 09:14] #42 closed, assigned to nobody

[2020-08-08 09:24] sacdallago commented on #43
Hi @gregmcinnes , thanks for using the pipeline.

The current develop version is not stable, I would suggest you to install the pip version if you want a stable relase.

What you are experiencing with both embedders is that the automatic download of the model files is not fully fallback proof. @konstin is working on refactoring that code. You have two options:

- Install the stable version (`pip u

[2020-08-08 09:26] sacdallago commented on #43
Reopening for @konstin to keep in mind :)

[2020-08-08 23:40] gregmcinnes commented on #42
Ok, thanks!  I did check and there are no duplicate sequences.  I didn't see the bit about simple_remapping, that seems useful.

[2020-08-09 00:04] gregmcinnes commented on #43
This worked great.  Thanks!  This seems like a very useful project.

[2020-08-09 15:36] konstin commented on #42
The error seems suspicious to me, as the the change of getting a MD5 collision by change is 1.47*10<sup>-29</sup> [[1]](https://www.avira.com/en/blog/md5-the-broken-algorithm), so I rather suspect it's something about the way we process sequences. Could you try inserting the following snippet right before the exception and see what it says?

[code]

[2020-08-09 15:44] konstin commented on #40
I've looked into the code and it's not apparent to me how that happens. Could you give me pipeline config with which that happened?

[2020-08-11 08:45] sacdallago commented on #40
[code]

In case you re-run this, please run this in a different directory (I'm actively working in that dir!). Notice that embedding will take a few hours, after that: you'll get stuck with the memory footprint of SeqVec on the GPU while the plot is being created.

[2020-08-12 12:54] sacdallago commented on #24
Done :star:

[2020-08-12 12:54] #24 closed

[2020-08-12 13:24] konstin commented on #40
It seems that this isn't really about the embedder, but about something that pytorch's own gc does.

With the embedder, nvidia-smi says 901 MB and `torch.cuda.memory_allocated()` says 374404608. After dropping the model, `torch.cuda.memory_allocated()` reports 0 and  `torch.cuda.empty_cache()` reduces the allocated memory from 901 MB to 537 MB, however `active.all.allocated` says 1061.

This looks

[2020-08-12 18:15] sacdallago commented on #40
Oh wow...

There's a bunch of memory leak issues opened, some sound very close to what might be happening here: https://github.com/pytorch/pytorch/issues?q=is%3Aissue+is%3Aopen+memory+leak

But with 4.8k issues opened... I wonder if it makes sense to add to the noise...

[2020-08-13 18:53] sacombs opened #44 "Error in BassicAnnotationextractor"
In develop and on google collab, the BasicAnnotationExtractor class is not loading weights correctly, or maybe its that the weights uploaded are not correct.

RuntimeError                              Traceback (most recent call last)
<ipython-input-1-de947d39bd18> in <module>()
     19 annotations_extractor = BasicAnnotationExtractor(
     20     secondary_structure_checkpoint_file="secstruct_che

[2020-08-14 09:36] sacdallago commented on #44
Hey @sacombs , thanks for using the pipeline and rising this issue.

_The usual disclaimer_
_Caution: develop is unstable and can break, so please we aware that installing from develop may lead to headaches at times :) This mostly has to do with the fact that there's a few people working on a few things at any given time & we work in small PR cycles (this happens on a different channel... maybe we

[2020-08-14 10:17] sacdallago opened #45 "Webserver improvements"
Once `v0.1.4` is out, it makes sense to revamp the webserver and make it 100% pipeline compliant.

MVP:
- Process multiple sequences, up to a max cap of AA per sequence file (currently the webserver is limited to one sequence, max 20k AA)
- Perform: embed, project, visualize, extract (supervised) & extract (unsupervised)
- Chose between Bert or SeqVec
- Download results.

Good to have:
- visualize

[2020-08-14 11:47] konstin commented on #40
What really confused me is that this happens both with seqvec and with bert and I can't find any similar report in either of the repos.

Maybe something useful to debug that will come out of https://github.com/pytorch/pytorch/issues/42815.

If that becomes a real problem for users, I'd go the radical way and run the embed step in a subprocess.

[2020-08-15 14:30] konstin commented on #29
Both seqvec/allennlp and transformers now have their own extra.

[2020-08-15 14:30] #29 closed, assigned to konstin

[2020-08-15 14:50] konstin commented on #31
Now published as https://www.nature.com/articles/s41592-019-0598-1

Original repo: https://github.com/churchlab/UniRep

Jax-rewrite: https://github.com/ElArkk/jax-unirep

Docs: https://elarkk.github.io/jax-unirep/getting-started/

jax-unirep requires python 3.7. Given that this isn't due to some dependency requiring 3.7, we can ask the authors to relax the requirement to 3.6.

jax from pypi by def

[2020-08-15 14:55] konstin commented on #22
Also requires 3.7, even though all dependencies should work on 3.6. There isn't a python package, so if we don't want to vendor their code, we need to create a python package.

[2020-08-15 15:00] konstin commented on #21
Proper python packages with python 3.6 support, but not published on pypi. Also all requirements are pinned to exact versions, which will clash with our other requirements (esp. their `torch==1.4.0`)

[2020-08-15 15:08] konstin commented on #13
@sacdallago I can take this if you want it should be a quick change anyway.

[2020-08-17 08:03] mheinzinger opened #46 "Add/extend test-cases"
Extend current tests (pre-computed embeddings are compared to output of pipeline to ensure LM weights are loaded correctly) for testing feature extractors (e.g. compare pre-computed secondary structure predictions to pipeline output for a few sequences).

[2020-08-17 13:34] sacombs commented on #44
Hi,

Thanks for the information!

As an update, there is now an error in the annotations section on the google collab where you iterate through the embeddings for the annotations:

[code]

There is an error with the generator...not sure what is going on.

[2020-08-17 13:37] sacombs opened #47 "BasicAnnotationExtractor requires both ss and subcellular checkpoints to load"
Pretty much the title. This may just be a design decision, but currently, it is necessary to load both the checkpoint file from secondary structure and subcellular for Bert.

[2020-08-17 13:39] konstin commented on #44
Oh, it looks like this should be `get_annotations(embedding)` instead of `get_annotations(embeddings)`. I'll check if I can fix the colabs

[2020-08-17 13:46] sacombs commented on #44
I thought so, but it still leads to an error. I think it has to do with the input tensors being the wrong size.

[2020-08-17 18:09] sacdallago opened #48 "IG-VAE -- don't know if would fit"
https://www.biorxiv.org/content/10.1101/2020.08.07.242347v1?rss=1

Don't know if it would fit, but certainly interesting. Will give thought after my holidays are over

[2020-08-17 18:27] sacdallago commented on #44
Hey :) sorry, we are still working on fixing various issues around this particular aspect of the pipeline and will get back to you once we have it ready (including an updated & fully functional colab using Bert)

[2020-08-18 08:10] sacdallago commented on #13
Sounds good. I've already experimented with https://pyyaml.org/ which seems to do the trick.

Things that I didn't quite figure out from that library:
- Is it possible to preserve comments?
- Will the files be stored in order (in the pipeline, the order of keys matters!)
- Can you store the file without pythonification of the original object type (e.g.: [this line](https://github.com/sacdallago/co

[2020-08-18 08:30] sacdallago commented on #21
That's nice and bad at the same time :D

[2020-08-18 08:32] sacdallago commented on #22
TBH, although ugly, for some of these things I'm happy even sys-calling them. After all: we are doing them a favor by integrating their tools, "worst comes to worst" they can collaborate with us! Easiest solution! Sys-calls (to e.g. docker containers) could be an interesting extension of the pipeline

[2020-08-18 08:34] sacdallago commented on #29
Reminder: extra for seqvec & for bert should also install pytroch because in extract these are needed to extract supervised features. (probably useful to document somewhere)

[2020-08-18 08:36] sacdallago commented on #47
Thanks, we noticed this and are working on it while also fixing #44

[2020-08-18 08:36] sacdallago commented on #31
Same as https://github.com/sacdallago/bio_embeddings/issues/22#issuecomment-675340922

[2020-08-19 11:53] sacdallago commented on #47
This has been fixed, see #44

[2020-08-19 11:53] #47 closed, assigned to nobody

[2020-08-19 11:57] sacdallago commented on #44
We seem to have fixed all outstanding issues with `extract`, and tested the pipeline with bert and seqvec (as in use_case_four in examples).

**IMPORTANT**, in the process of fixing this, we have uploaded new weights for the `bert.zip` model, here: http://maintenance.dallago.us/public/embeddings/embedding_models/bert/

if you were using a local copy of these weights, please update them, otherwise

[2020-08-19 11:57] #44 closed, assigned to mheinzinger

[2020-08-19 12:37] sacdallago opened #49 "Colab uses CPU instead of GPU although GPU is enabled"
This colab: https://colab.research.google.com/drive/1msZVwcCT2b768HnbRK3SrnmRqtVjvsgg?usp=sharing

Has been set up to use GPU acceleration, however when embedding, it does so on CPU (there's a warning that shows up in the bottom saying "you are connected to a GPU runtime but aren't using the GPU...", and the speed at which it embeds.. well.. Not ideal!). This is weird. Could it be #26 ? @konstin ?

[2020-08-20 09:10] sacdallago opened #50 "Using simple remapping fails"
You can check out `/mnt/project/bio_embeddings/runs/cath` on rostssh.

`stderr.log` there will tell you:
[code]

You probably have to cast the `int` to `str` when saving the embedding. I remember I fixed this in the past, but probably due to significant overwrites, it got lost...

Please, once you fixed this issue, can you try re-running the job?

Instructions in: `/mnt/project/bio_embeddings/READ

[2020-08-20 11:42] konstin commented on #14
Done, we only need to publish tags with the next release.

For having the github develop branch release as `rostlab/bio_embeddings:develop`, we could add a github action.

[2020-08-20 11:42] #14 closed

[2020-08-20 19:58] #50 closed, assigned to konstin

[2020-08-22 15:24] konstin commented on #13
No, pyyaml does only preserve the data, not comments or indentation. If keeping comments is a requirement, we need to stick with ruamel_yaml.

[2020-08-22 15:36] konstin commented on #49
This is something about colab, pytorch and/or cuda, but not related to #26. In some other cases the problem was the cuda version, but 10.1 should do fine with pytorch 1.5.1

![grafik](https://user-images.githubusercontent.com/6826232/90959811-92ac8680-e49d-11ea-840a-17b3c3afdbae.png)

[2020-08-22 17:27] konstin opened #51 "Fix embed module when the extras aren't selected"
Currently using `from bio_embeddings.embed import ...` will lead to import errors when not using the `all` extra. This should be fixed by using try-except-ImportError-blocks and should be documented.

[2020-08-23 10:57] konstin commented on #29
Both do since both seqvec and transformers are implemented in pytorch.

[2020-08-24 11:05] ptynecki opened #52 "Installation from the PyPI with Python 3.6+ failed"
Hey,

I discovered that _bio-embeddings_ installation from the PyPI with Python 3.6+ doesn't work anymore.
But it's working fine directly from the GitHub repository.

[code]

or

[code]

I tried with Python 3.6.8 on Mac OX and with Python 3.6.9 on Ubuntu. The same raised exception.
I think it is related with the `setup.py` configuration:

[code]

Could you tell why Python 3.6 is excluded? Thanks!

[2020-08-24 12:00] konstin commented on #52
Hi,

in previous releases, including the one that is on pypi, we only supported python 3.7+. We've only recently extended this to python 3.6. Unfortunately this means that `pip install bio-embeddings` won't work until we release v0.1.4 (which hopefully won't take too long).

[2020-08-24 16:37] sacdallago commented on #52
Hey @ptynecki ,

another note: you install the pipeline like `pip install bio-embeddings[all]`, by this I guess you are reading the develop README. To install for the previous release it's sufficient to run `pip install bio-embeddings`, we had no extras at the time.

The version currently released on pypi is `0.1.3`, and while not much of the way we process pipeline runs has changed for the user s

[2020-08-24 16:37] #52 closed, assigned to nobody

[2020-08-24 16:46] sacdallago commented on #51
We might want to create a new test case, similar to `simple_pipeline_run`, where we just execute say `project` and `visualize` based on some pre-computed embeddings and by installing the pipeline without the `[all]`.

Currently, I'm wondering what will be installed if not selecting [all] (and per-effect: what installing the pipeline will buy a user).

We may want to make a simple `pip install bio-

[2020-08-24 16:49] sacdallago commented on #13
Hm.

Though one.

I think it's OK to remove comments. After all: we just copy the configs... they will still have the original somewhere.

IDK if `ruamel_yaml ` has become more stable, but when we were releasing `0.1.3` they were migrating to another versioning system and that resulted in weird versioning errors when clean-installing the pipeline.

Opinions?

[2020-08-24 16:51] sacdallago commented on #49
Oh wow, cool way of debugging this! Thanks!!!

Leaving it open for now

[2020-08-27 10:22] konstin commented on #43
The code that failed in the initial report now works with current `develop`.

[2020-08-27 10:22] #43 closed, assigned to konstin

[2020-08-27 11:08] sacdallago commented on #10
https://github.com/facebookresearch/faiss

[2020-08-28 12:36] sacdallago opened #53 "Add compression to embedding export"
An easy improvement when storing `embeddings_file` and `reduced_embeddings_file`, supported out of the box, may impact speed (but that's acceptable).

https://docs.h5py.org/en/stable/high/dataset.html#filter-pipeline

Also, since at it: double check that stored dataset uses the most fitting dtype.

P.S.: preference for `gzip`

P.P.S.: would be nice to run this as a test to see "how much it buys".

[2020-08-29 13:58] konstin commented on #13
If that's the problem we can just pin a specific version of ruamel_yaml we know to work.

[2020-08-29 13:59] #51 closed, assigned to konstin

[2020-09-02 08:07] sacdallago commented on #40
Now this is starting to become terribly annoying.

Since I'm transferring the reduced embeddings to GPU RAM when doing the annotation transfer, this happens:

[code]

The problem here may be either the `25.51 GiB already allocated` or `43.98 GiB reserved in total by PyTorch`.

Workaround fro now:
1. set the cuda device to CPU in `extract` when this is optionable via the different open PRs on GitLa

[2020-09-02 09:00] sacdallago commented on #40
**[UPDATE to https://github.com/sacdallago/bio_embeddings/issues/40#issuecomment-685429949]**

Running just the transfer part (config with only that stage, passing the embeddings from the previous run) still throws an OOM error:

[code]

But clearly, `25.51 GiB reserved in total by PyTorch` is different from `43.98 GiB reserved in total by PyTorch`.

[2020-09-04 12:36] konstin opened #54 "Check alphabets"
Different embedder may be trained on different alphabets, which may be different from those provided by the user.

 * SeqVec has a 25 letter alphabet ("20 standard and 2 rare amino acids (U and O) plus 3 special cases describing either ambiguous (B, Z) or unknown amino acids (X)")
 * The transformers remove the rare amino acids (`re.sub(r"[UZOB]", "X", sequence)`)
 * UniRep has a 26 letter alphabe

[2020-09-05 18:42] konstin commented on #21
provis is actually just an evaluation of tape's bert model (it even uses tape's download mechanism). So if we'd do this it would rather be integrating tape.

[2020-09-05 20:23] konstin opened #55 "Document when you can reduce and/or discard_per_amino_acid_embeddings"
I could not find any documentation on which stages need per-residue and which need per-protein embeddings, and thereby whether it's possible to use `reduce: true` with these stages or not.

[2020-09-05 20:29] konstin commented on #55
The following pipeline currently fails with an unhelpful error, which commenting out `discard_per_amino_acid_embeddings: true` fixes:

[code]

Output:

[code]

[2020-09-05 20:33] konstin commented on #48
Marked this as blocked since it says

[2020-09-05 21:55] konstin commented on #53
Initial check with the use case four fasta, lengthes [300, 544, 184, 1584, 518] goes from 37MB to 26MB - That's significantly more than I expected and really good for this small sample. The reduced embeddings go from 24KB to 32KB, but at that size it's not even a real benchmark.

What I don't understand from using the documentation is whether the compression is applied across datasets or for each

[2020-09-06 13:53] sacdallago commented on #21
RE Tape, the thing that would be interesting is the evaluation pipeline. I have a hunch that this is going to be picked by less experienced peer reviewers as a "should be in there".

[2020-09-06 13:57] sacdallago commented on #53
This already sounds exceptionally good. These are actually the biggest files we produce, so we don't even have to worry about zipping results via pipeline after the run for space reasons if we can directly compress the embeddings.

The only other "worthy" big file produced is the pairwise distance matrix (which on some internal swissprot vs human test is occupying upwards of 10GB in CSV form; thus

[2020-09-06 13:59] sacdallago commented on #54
Yup, very fair point and another reason why I decided to go for `Bio` instead of using an in-house parser (should make this easier). Nevertheless, as this would be support for external tools, I would suggest to prio:low it.

[2020-09-06 14:03] sacdallago commented on #55
Documenting this extensively is hard.

I tried to address parts of this textually via the updated examples README in PR 42 on GitLab.

The solution to this is to read the first few lines of each protocol (in the code). There, neccessary files (and parameters) are `check_required`. This is also why that's one of the first lines: fail soon and fix problems before wasting someone's day.

P.S.: also d

[2020-09-06 14:08] #55 closed, assigned to sacdallago

[2020-09-06 14:36] sacdallago opened #56 "Make storing pairwise_distances_matrix_file optionable"
`pairwise_distances_matrix_file` can become very large. Storing it as CSV is sub-optimal. The entire stage' execution is gravely slowed down by storing this file an I/O.

Two ideas:
- Make the file optionable, default don't store it
- Store as h5 instead of CSV

[2020-09-06 14:39] sacdallago opened #57 "Setting pairwise calculation to multithread segfaults"
This is a problem with scikit-learn.

https://github.com/scikit-learn/scikit-learn/issues/18353

Nevertheless, using the data as reported in the issue linked above, the execution on single thread took ~2 mintues (so it's absolutely fine to run on single thread).

[2020-09-07 09:34] sacdallago opened #58 "Pipeline fails in extract with "expected str instance, float found""
The extract stage will fail after having generated the pairwaise distance matrix like so:

[code]

This is expected and happens because the annotation file used contains empty `label`s for some `identifier`s. Emtpy labels get translated to `NaN`s, which in turn are `float`s.

One could argue that the pipeline should filter the NaN's out, but I think this would make for a weird expectation. I prefe

[2020-09-07 09:37] sacdallago commented on #10
This is now in :partying_face:

[2020-09-07 09:37] #10 closed

[2020-09-07 10:01] #31 closed, assigned to konstin

[2020-09-07 10:01] #26 closed, assigned to konstin

[2020-09-08 07:27] sacdallago opened #59 "No transfer of annotations"
Some weirdness is happening when annotating a large dataset (human) using another large reference set (SwissProt).

The `pairwise_distance_matrix_file` is populated, but somehow annotations are not transfered:
[code]

Could be that the change to scikit changed the shape of the return a bit, needs digging & fixing before `0.1.4` is out. I will also use the change of digging into this to
1. Isolate

[2020-09-08 18:59] sacdallago commented on #59
Seems to be the `join` with the `mapping_file`, since the mapping_file index has never been converted to string (in case of simple remapping), this will clearly result in unfortunate things...

[2020-09-10 09:02] #8 closed

[2020-09-10 09:02] #21 closed

[2020-09-10 09:06] sacdallago commented on #13
Not relevant anymore, closing for now

[2020-09-10 09:06] #13 closed

[2020-09-10 11:46] konstin opened #60 "Dockerize the webserver"
- [x] Dockerize the webserver
 - [x] Dockerize the worker
 - [x] Check whether a docker-compose setup is suitable

[2020-09-10 12:11] #59 closed, assigned to sacdallago

[2020-09-10 12:11] #58 closed, assigned to sacdallago

[2020-09-10 12:11] #56 closed, assigned to sacdallago

[2020-09-10 12:13] sacdallago commented on #45
Largely has been done, except the "good to have". #60 Is next up, closing for now in order to make smaller issues

[2020-09-10 12:13] #45 closed, assigned to sacdallago

[2020-09-11 21:04] konstin commented on #49
Note to self: Check against https://github.com/agemagician/ProtTrans/blob/master/Embedding/PyTorch/Basic/ProtBert-BFD.ipynb

[2020-09-15 09:10] HannesStark opened #61 "Installing Develop on windows."
When trying to install the Develop status like so:
`pip install -U "bio-embeddings[all] @ git+https://github.com/sacdallago/bio_embeddings.git"`
I get an error from jax-unirep that there is no version that satisfies the requirement jaxlib.

Unfortunately, I think jaxlib is not supported for windows right now [#438](https://github.com/google/jax/issues/438)

I can install `pip install bio_embedding

[2020-09-15 10:04] sacdallago commented on #61
Thanks for documenting the issue @HannesStark :)

For now, there won't be a windows-specific packaging plan, as we focus on cluster execution and linux, and unfortunately no one in the dev team runs a windows machine. Nevertheless, as things stand, there are two solutions for this problem already:

- A fast workaround would be to use docker, but last time we checked (@konstin ) docker-windows didn

[2020-09-15 10:41] konstin commented on #61
Self-assigning because I want to document platform support

[2020-09-15 12:57] sacdallago opened #62 "Integrate ESM"
https://github.com/facebookresearch/esm

[2020-09-15 12:59] sacdallago commented on #62
Should be easy anyway, reading their README @konstin ? But, please, all the ohter things you have on the table now, those have higher prio...

[2020-09-17 13:45] konstin opened #63 "XLNet fails with of-by-one error"
SeqVec, Bert and Albert all passed, but XLNet failed:

[code]

I can provide the fasta file I used.

[2020-09-18 15:34] konstin opened #64 "UniRep takes too much RAM"
The UniRep embedder continuously uses more RAM, which it shouldn't. I haven't checked yet whether this also happens on the GPU or only on the CPU.

[2020-09-18 17:38] sacdallago commented on #64
I remember @mheinzinger complaining about the same thing a year ago. I think he just skipped long sequences.

[2020-09-21 07:55] mheinzinger commented on #64
Yes, that's correct: I struggled with exactly the same problem, even though proteins in my set were relatively short. To be honest: I would not spend time on this model as it's impractical to use.

[2020-09-21 07:55] #64 closed, assigned to nobody

[2020-09-23 13:49] konstin commented on #49
For reason colab chooses not to disclose to me, it works now

![grafik](https://user-images.githubusercontent.com/6826232/94021281-22529700-fdb4-11ea-8735-c07ca7fb806b.png)

I'd say this is mostly likely either a different torch version or this was fixed in goole colab.

[2020-09-23 15:03] konstin commented on #53
New numbers! Reduced embeddings: 148M -> 207M (yes, this file has apparently grown by compression). Normal embeddings: 19G -> 17G; 17G also by just gzipping the whole file, while the latter was faster. Both took a couple of minutes.

[2020-09-25 11:47] konstin opened #65 "Deprecation warnings for transformers"
From running pytest

`Calling XLNetTokenizer.from_pretrained() with the path to a single file or url is deprecated`

[code]

[2020-09-25 13:30] konstin opened #66 "Drop Python 3.6 support"
According to [numpy's policy](https://numpy.org/neps/nep-0029-deprecation_policy.html), they'll soon remove support for python 3.6, and pandas has already [dropped 3.6](https://github.com/pandas-dev/pandas/pull/35214). This means that in some time we'll have to decide to either drop 3.6 and lose google colab or start lagging behind with the scientific stack.

[2020-09-26 15:41] sacdallago commented on #66
I think google will update their runtime before this becomes too much of an issue.

tensorflow relies heavily on numpy for data representation

[2020-09-26 15:46] sacdallago commented on #65
We should view each embedder as "immortalized" in the moment it was created.

This would have been easier if we actually created separated packages for each embedder (or group: e.g. `ProtTrans` and `SeqVec`,..) but may be more for down the line.

[2020-09-28 08:40] #20 closed

[2020-09-28 08:40] #61 closed, assigned to konstin

[2020-10-01 10:26] konstin opened #67 "The AMQP result backend is scheduled for deprecation"
The worker complains with the following message:

Guess we have to switch at some point.

[2020-10-01 10:57] konstin commented on #67
Celery 5 has actually been release a week ago, so this becomes more important

[2020-10-01 14:13] sacdallago commented on #67
yeah, I realized this yesterday, too. Was migrating the current celery worker from oculus to LSF and versioning is not fun... I got alennnlp to work, now celery is complaining about not knowing AMQP (note: on their official guide AMQP was suggested as **THE BEST BACKEND**).

![image](https://user-images.githubusercontent.com/6240943/94820529-daa9bc00-0400-11eb-87a6-42cda39fb0f8.png)

UGH.

We can

[2020-10-01 14:20] konstin commented on #67
I have only have experience with redis and always liked it's simplicity, so I'd be happy about that. However in fairness, this problem is about protocol, not about the broker. It's possible to continue using RabbitMQ by changing the protocol to RPC (see e.g. https://stackoverflow.com/a/48921731/3549270)

[2020-10-01 14:38] sacdallago commented on #67
Oh, this was indeed confusing to me -- just protocol, not actual DB.

Well, TBH I don't wanna fiddle around too much with _things that are working_, so I'll try to figure out if moving RabbitMQ to RPC is easy, then I'll simply do that.

[2020-10-09 16:15] sacdallago opened #69 "nginx caches celery status for too long"
By default, any job is pending (whether it exists or not). First sub-optimal thing in life...

Secondly, it appears that when a job fails (e.g. throws an exception), the job remains "pending". This should not be the case! It should properly fail.

Initial "fixes" don't seem to solve the issue:

![image](https://user-images.githubusercontent.com/6240943/95606809-2f7db000-0a5b-11eb-947e-a60fb13de29e

[2020-10-09 21:24] konstin commented on #69
Could it be that this happens because the error occured in the webserver, not in the worker? Because I think I remember that jobs that failed in the worker show up as failed properly.

[2020-10-09 22:22] sacdallago commented on #69
Doubt. That error is logged by the worker. You are correct in that if the webserver fails, the job status won't be affected, but if the webserver fails, the job would have not been tasked to the worker in the first place.

... unless there is some handshaking stuff going on, but given the nature of all of this happening over RabbitMQ, I don't think that's quite it. I think once the webserver taske

[2020-10-12 08:55] sacdallago commented on #69
I'm not entirely sure, but now it works:

![image](https://user-images.githubusercontent.com/6240943/95725563-1ef65100-0c78-11eb-83a0-74082b6c7baf.png)

I have a hunch.

Since nginx caches responses in the setup of the webserver, if you hit "check status", the "pending" response will be cached for 10m. I now set the cache to cache 2m & delete inactive cache files after 15min, this could be conside

[2020-10-12 09:17] konstin commented on #69
Is there a special reason why we have proxy caching in nginx? The whole thing is super fast even without it:

![grafik](https://user-images.githubusercontent.com/6826232/95728831-48b17700-0c7c-11eb-8fb9-bef5df75214f.png)

[2020-10-12 10:37] sacdallago commented on #69
yeah, you are looking at simple things :D, once you have to download embedding files, or even prediction files, which are > 240B, you'll see why caching makes sense :)

[2020-10-14 12:40] konstin opened #70 "CPCProt Integration"
https://github.com/amyxlu/CPCProt

[2020-10-14 12:47] konstin opened #71 "Keep models in RAM and move to the GPU on demand"
For the webserver only. This collides with the current way that models are instantiated with their final device.

[2020-10-15 08:22] sacdallago commented on #71
I think we don't necessarily have to work around this too much.

I would simply:
 - Have two pytorch device instances, one for CPU one for GPU
 - instantiate the models using the CPU device: https://github.com/sacdallago/bio_embeddings/blob/develop/bio_embeddings/embed/embedder_interfaces.py#L34
 - if embeddings requests are spawned: change the `obj._device` to the GPU, move the `obj._model` to th

[2020-10-15 09:26] konstin opened #72 "Set batch size according to free GPU memory"
The current `max_amino_acids` are for a GPU with 8GB. We should have at least a crude heuristic depending on the gpu memory.

[2020-10-15 12:27] sacdallago opened #73 "Change server address for files"
Note to self

I've added the subdomain data.bioembeddings.com to the server where maintenance.dallago.us is hosted, and now both serve the same folder, so we can swap out all "maintenance.dallago.us" with "data.bioembeddings.com". Makes it a tat prettier. The maintenance domain will continue existing for a long time,...

[2020-10-15 13:37] sacdallago commented on #72
This sounds good.

I actually don't know if LSF kills jobs that exceed the requested GPU RAM, but if that's so: one could run 2 tests and get a handwavey feeling:

- 8 GB requests, max size (we have)
- 10 GB requests, max size

we can then use the factor coming out from that to test a third case:

- 16GB request

----

this would obviosuly need to be run using each embedder once

[2020-10-16 12:42] sacdallago opened #74 "New CUDA error signatures when OOM"
On oculus, just now:

[code]

Not sure. I had the api.embed.protein.properties worker running in parallel, and apparently that one also suffered from being squeezed in... But yeah, just logging this for now, to look at some time in the future...

[2020-10-20 08:02] #62 closed, assigned to konstin

[2020-10-22 11:33] #63 closed, assigned to konstin

[2020-10-22 11:34] konstin commented on #60
We still need to setup ci to publish the images, but everything else works

[2020-10-22 11:34] #60 closed, assigned to konstin

[2020-10-22 12:17] #67 closed, assigned to sacdallago

[2020-10-23 07:15] sacdallago opened #75 "Autodocs for functions"
From the discussions with Luisa on Slack, I believe we should have autodocs for the functions and modules in the pipeline.

I believe we did a good job documenting pipeline runs via the eamples folder, and have a quite good basis for the autodocs (e.g. many functions have return types and parameter types; many have function definitions). Can we set up readthedocs? Can we autogen this using gitlab/

[2020-10-23 13:54] sacdallago opened #76 "ELMo has a cold start problem"
After extensive testing and digging, @mheinzinger and I figured out that ELMo (aka: SeqVec) has an "initialization" problem (see: https://github.com/allenai/allennlp/issues/1169)

In short: the first (couple) batch(es) embedded in SeqVec will produce significant to slightly different embeddings than what is expected. A visual example:

![image](https://user-images.githubusercontent.com/6240943/970

[2020-10-24 16:07] sacdallago opened #77 "Interpret model files and dirs if URLs passed"
When passing model files (*_file or *_directory) check if what is being passed is a URL. If so, download the file and use (if file) OR unzip and use (if dir).

This effectively will help us get rid of the "defaults" file, and simply default the model files and dirs to those URLs in the code.

[2020-10-25 15:03] sacdallago opened #78 "SeqVec not imported in colab"
![image](https://user-images.githubusercontent.com/6240943/97110684-e1171500-16da-11eb-9c0e-c6695e020709.png)

Note that in the colab, the pipeline was installed like so:
[code]

No logging showed.

Trying to directly import logs an error which can be traced back to allennlp:

![image](https://user-images.githubusercontent.com/6240943/97110802-83cf9380-16db-11eb-9cf2-666abf84a004.png)

ProtTrans n

[2020-10-25 15:16] sacdallago commented on #49
Fun times...

![image](https://user-images.githubusercontent.com/6240943/97111137-5be12f80-16dd-11eb-9002-d11513c9a501.png)

[2020-10-25 15:18] sacdallago commented on #49
But, forcing cuda explains why:

![image](https://user-images.githubusercontent.com/6240943/97111181-ac588d00-16dd-11eb-8347-552b08e45625.png)

We might need to keep torch a few versions behind to run on colab. How is this going to affect other dependencies :thinking:

[2020-10-25 15:26] sacdallago commented on #78
Might be related to #49

[2020-10-25 15:50] sacdallago commented on #49
Unsuccessfully tried the other way around:

[code]

so no point in waisting time there...

[2020-10-28 08:36] konstin opened #79 "Docker build needs git"
Currently missing, building the Dockerfile will fail

[2020-10-28 09:51] konstin opened #80 "Test pytorch 1.7"
Check if any changes affect us

[2020-10-28 10:13] sacdallago commented on #80
If 1.5 is not supported by Colab yet, I highligh doubt we are doing ourselves any favors by updating to 1.7 :D

[2020-10-28 12:18] konstin commented on #70
Installing from git isn't ideal, but it works from a user perspective.

[2020-10-28 12:18] #70 closed, assigned to konstin

[2020-10-28 12:34] konstin commented on #80
We're currently installing ~1.5.0 so unless I'm missing something 1.5 is used in colab

[2020-10-28 12:39] konstin commented on #80
I've also checked with a GPU runtime where I got `1.6.0+cu101` which worked, while installing 1.7.0 with pip triggers a message about cuda being to old. So I guess that one half of the answer if any changes in 1.7.0 affect us

[2020-10-28 15:40] sacdallago commented on #79
Could you document why? :) Just for the reference...

[2020-10-28 16:18] konstin commented on #79
Sure: We're installing some python dependencies from their git repositories, since they aren't published on pypi and/or I had to patch them. poetry uses pip, and pip needs git in path to clone the repository (https://pip.pypa.io/en/stable/reference/pip_install/#vcs-support, https://github.com/pypa/pip/blob/faee60baea2b850427b5fceb22383883fa11290b/src/pip/_internal/vcs/git.py#L254)

https://github.

[2020-10-28 18:14] deniseduma opened #81 "Could you provide the private/antibodies.xls file ?"
Hi,

I'm trying to run your notebook project_visualize_custom_embedings.ipynb
 and I get a file not found error when executing this line:

data = read_excel('../private/antibodies.xls', index_col=0)

Indeed, this file is nowhere in the repositor! Could you please provide it so I can run the notebook?

Thanks.

[2020-10-28 22:05] sacdallago commented on #81
Hi @deniseduma , thanks for trying out bio_embeddings.

Unfortunately I cannot make the original file available. I did generate a dummy file that has the same structure as the original and contains three random points, so as to give an idea of what the file would look like. I've updated the notebook to reflect these changes. Please note that while testing this out, I noticed that there was an old

[2020-10-28 22:05] #81 closed, assigned to sacdallago

[2020-10-29 08:33] deniseduma commented on #81
Hi Christian, thank you for getting back to me and for fixing this! I really appreciate it!

There is an error however with running the notebook in Colab but I will open another issue about it!

Thank you!
Denise

[2020-10-29 08:37] deniseduma opened #82 "The notebook cannot be run in Google Colab"
Hi,

So yesterday I've tried uploading the notebook in my Google drive folder and then run it in Google Colab. I also tried the Google Colab link you added to my previous issue, however, the following errors occur when trying to use colab:

!pip3 install poetry > /dev/null
!pip3 install -U "bio-embeddings[all] @ git+https://github.com/sacdallago/bio_embeddings.git" > /dev/null

Running command git

[2020-10-29 08:41] deniseduma commented on #81
Hi Christian,

Can you explain to me a bit the meaning of the columns in the antibodies
file?

I will use my own annotation file but I'm just trying to understand what
the notebook is doing so I can do it right for my own data!

Thank you.
Denise

On Wed, Oct 28, 2020 at 11:06 PM Christian Dallago <notifications@github.com>
wrote:

--
Denise

[2020-10-29 11:30] sacdallago commented on #82
Hi @deniseduma , again: thanks for reporting these issues. As far as my testing went, although these error messages appear, the package is installed nonetheless. Does this hold true for you as well? Specifically: is this issue blocking you from using the rest of the notebook?

I know "ERROR" doesn't read well, but I learned that on Colab it's useful to sometimes turn a blind eye...

I contacted a

[2020-10-29 11:43] deniseduma opened #83 "Problem with embed_many() method"
Hi again,

There seems to be an issue with your method embed_many() as called in the notebook embed_fasta_sequences.ipynb

Basically after these two calls

embeddings = embedder.embed_many([str(s.seq) for s in sequences])
reduced_embeddings = [ProtTransBertBFDEmbedder.reduce_per_protein(e) for e in embeddings]

one can print the shape of embeddings or reduced_embeddings but not both! One of the li

[2020-10-29 11:56] sacdallago commented on #81
Hi @deniseduma ,

I have to admit that I'm not an expert in antibodies. This was an exploratory project that was started with a collaborator on some initial dataset about 5 months ago, and since the initial proof of concept we were working on getting new data...

Nonetheless, I can tell you the intuition about the Notebook from when my collaborator and I were looking into this months ago. The exce

[2020-10-29 12:23] sacdallago commented on #83
Hi Denise,

thanks for rising this. In a recent update, @konstin changed the return type of `embed_many` from a list to a generator. This is desireble since the embeddings for large datasets can occupy significant RAM space, so storing the list might lead to RAM issues. When using generators, the generator is traversed and sequences are embedded on the fly. Once the generator is traversed, the gen

[2020-10-29 12:23] #83 closed, assigned to sacdallago

[2020-10-29 12:30] sacdallago opened #84 "CI testing of the notebooks"
#81 and #83 highlight something discussed a while ago, which is CI testing of notebooks and examples.

The strategy up until now has been to manually test notebooks and examples prior to a release, but this did not always work out as smoothly as I had hoped.

We might want to start running a CI job testing notebooks and examples when a PR is merged to develop on GitLab. For both cases, the expecte

[2020-10-29 12:35] deniseduma commented on #82
Hmm, you're right the notebook does work despite the error messages!

I guess I just got intimidated by the word 'ERROR' in red! :P

Thanks!

[2020-10-29 12:40] #82 closed, assigned to sacdallago

[2020-10-29 12:41] deniseduma commented on #83
Ok, this makes sense! Thanks for the info!

[2020-10-29 12:43] sacdallago commented on #82
Yeah, I tried my best to "hide" the error :D aka the `> /dev/null`, but some things still pop up! I might want to add a note in the README to not be intimidated by the error messages (counterintuitive...).

This is very suboptimal, I wish such a highly used resource (Colab) would be more up to date :(

[2020-10-29 12:46] deniseduma commented on #81
Very useful explanation, thank you!

[2020-10-29 19:06] maffettone opened #85 "Mean potentially using incorrect axis"
https://github.com/sacdallago/bio_embeddings/blob/4ad42897173fe45f6ca9d2d7cdb1ed3a18e2b0d6/bio_embeddings/embed/unirep_embedder.py#L50

Unlike the paper _Nat Methods_ **16**, 1315–1322 (2019), and other embeddings in the package, this mean produces a per-residue average from the mLSTM as opposed to an average of hidden units across each amino acids (a per-protein representation). It is not clear i

[2020-10-29 20:43] sacdallago commented on #85
Thank you for the excellent catch @maffettone !

[2020-10-30 08:37] deniseduma commented on #82
Hi again,

Sorry, me again!

I've realized I need GPU on Google Colab to embed some 4000 human protein sequences but it seems I cannot get a GPU because of some incompatibility problem between the cuda driver in Google Colab and  the cuda version used by torch in bio-embeddings.

Here is the error I get:

import tensorflow as tf
print(tf.__version__)
print(tf.test.gpu_device_name())

2.3.0
-------

[2020-10-30 09:01] sacdallago commented on #82
Hi @deniseduma ,

we are trying to look into how to solve this incompatibility in #49 and #80 . This issue was fixed a while ago but then suddely reappeared. For now, I don't have a colab solution.

Unfortunately we don't have this set embedded.

4000 proteins we could embed for you if you send me a FASTA and config file! Just ping me on https://chat.bioembeddings.com to figure this out ;)

[2020-10-30 09:22] deniseduma commented on #82
!python -V
import tensorflow as tf
print(tf.__version__)
#print(tf.test.gpu_device_name())

Ok, I've tried with PyTorch as well, same problem

import torch
print(torch.__version__)
print(torch.backends.cudnn.enabled)
print(torch.cuda.is_available())

Python 3.6.9
2.3.0
1.5.1
True
False

[2020-10-31 10:17] #79 closed, assigned to konstin

[2020-10-31 17:43] #78 closed, assigned to konstin

[2020-10-31 17:44] #85 closed, assigned to konstin

[2020-10-31 20:02] #73 closed, assigned to sacdallago

[2020-10-31 20:02] #69 closed, assigned to sacdallago

[2020-11-03 10:08] #76 closed, assigned to konstin

[2020-11-03 15:08] sacdallago opened #86 "Create notebook and pipeline stage for supervised training"
From discussions with @mheinzinger and Tom:

High prio + protocol:
- Create a simple sci-kit learn training example (maybe use @mariasche 's PBL notebook?)

Med prio, not neccessary for protocol:
- Integrate something like [fastai](https://github.com/fastai/fastai) or [pytorch lightning](https://www.pytorchlightning.ai/) in the pipeline to directly train on a small dataset?
  - Can use similar CSV

[2020-11-07 16:13] #22 closed

[2020-11-08 10:08] sacdallago commented on #86
Partially done; closing for now and breaking into smaller issues

[2020-11-08 10:08] #86 closed, assigned to sacdallago

[2020-11-08 10:14] sacdallago opened #87 "Add bepler and berger as embedder"
https://arxiv.org/abs/1902.08661

I don't think they properly name the embedder, would call it `bepler_berger`

GH: https://github.com/tbepler/protein-sequence-embedding-iclr2019

[2020-11-08 12:55] konstin commented on #87
Blocked on https://github.com/tbepler/protein-sequence-embedding-iclr2019/issues/21

[2020-11-08 14:26] konstin commented on #84
Preliminary results: The code below runs all notebooks and reports which pass and which fail. However, it will run all cells, including the pip install, as papermill does not have a way to skip cells (https://github.com/nteract/papermill/issues/429). So we need a way to skip cells, even if it's just "skip the first cell unconditionally". We could use the nbconvert cli which can do that with some t

[2020-11-09 11:06] sacdallago opened #88 "Add prottrans_t5_bfd"
https://github.com/agemagician/ProtTrans/blob/master/Embedding/PyTorch/Advanced/ProtT5-XL-BFD.ipynb

[2020-11-09 11:11] sacdallago opened #89 "Allow alignment of sequences through DeepBlast"
https://github.com/flatironinstitute/deepblast

As discussed in the email with @mortonjt, once #87 is in, let's try to decide on an interface to integrate DeepBlast into bio_embeddings, and then test it out.

@konstin since you have worked most extensively with alignments using embeddings, I leave the choice of what to call this stage (or if to integrate this into the `extract` stage) up to you ;)

[2020-11-09 16:14] konstin opened #90 "ESM has no fallback"
ESM crashes with embed_many when out of memory instead of falling back to single sequence processing. Currently, only `EmbedderWithFallback` falls back to single sequence processing, but we can only use this superclass with a cpu fallback. This will also effect other embedders outside SeqVec/ProtTrans.

[2020-11-09 17:36] sacdallago commented on #90
But isn't ESM pure pytorch? Shouldn't the fallback option in this case be a "simple" `model.to(cpu)`, then move on from where it crashed? Ultimately all the model weights _just_ need to be moved to CPU.

I mean, it's more convoluted because in your current `EmbedderWithFallback` implementation you have the first try the same batch, then try single sequence, then try single sequence CPU, then fail-

[2020-11-09 18:22] konstin commented on #90
You're right, we can actually port all the models that batch to EmbedderWithFallback (the exceptions are bepler and unirep which do not batch).

[2020-11-10 11:31] konstin opened #91 "Option to store embeddings as fp16"
Michael suggested this. This should cut h5 file size in half. This could be implemented as a flag similar to the discard-reduced-flag. We should gather some numbers about the impact on the performance beforehand and add them to the docs about the flag.

[2020-11-12 14:33] sacdallago opened #92 "Update stages and notebooks to account for original id in h5"
Affected are visualize and extract. The most basic notebooks must be updated, too.

[2020-11-16 08:58] sacdallago commented on #91
I'm having dreams of this, this would cut our net disk cost to 1/2.

[2020-11-16 13:21] konstin opened #93 "Expand the documentation"
Currently, the sphinx documentation contains only the api docs. We could extend this to contain all documentation we have:

 - [x] Readme
 - [x] yaml config examples
 - [x] notebooks (with links to open colab)
 - [x] api docs

@sacdallago What do you think?

[2020-11-16 14:21] konstin commented on #75
This works, I'd track extending the current docs in new issues.

[2020-11-16 14:21] #75 closed, assigned to sacdallago, konstin

[2020-11-17 07:17] sacdallago commented on #93
I think by pulling in the README, we'll also cover a bit of the notebooks.

We could even pull in the README in /examples and /notebooks, I tried to keep those relevant. This would save us a lot of initial effort?

[2020-11-20 10:10] sacdallago commented on #93
Note to self @sacdallago
Add description, inputs and oputputs for https://docs.bioembeddings.com/modules/bio_embeddings.visualize.html

Relevant for protocol!

[2020-11-20 13:25] sacdallago opened #94 "Include advanced machine learning example"
Include @mheinzinger 's pytorch example in Notebooks.

[code]

[2020-11-20 13:48] sacdallago opened #95 "Add goPredSim parser for PP frontend"
Create yet another format that allows to translate the goPredSim predictions into an array like this:

[ontologyPredictionArray_contents.txt](https://github.com/sacdallago/bio_embeddings/files/5573787/ontologyPredictionArray_contents.txt)

Should be failry straightforward -- need to find a way to map GO term to GO Name. @t03i should be able to generate a flat file (mapping table).

~Also relevant:

[2020-11-21 08:57] konstin opened #96 "Crash in PLUS with GPU"
Needs further investigation:

[code]

[2020-11-21 22:34] sacdallago commented on #41
Note to self: use [locals](https://realpython.com/python-eval-function/#the-third-argument-locals) to pass `np` and `torch`

[2020-11-24 15:58] sacdallago commented on #95
- [x] Create L1 SeqVec embeddings
- [x] Upload to US server
- [x] Update SeqVec feature extractor

[2020-11-27 14:53] konstin commented on #80
Colab apparently upgrade to `1.7.0+cu101`, I think it would be good for us to try upgrading too. (We're currently uninstalling 1.7.0 and install 1.5.1 over it)

[2020-11-28 09:18] sacdallago opened #97 "EZ viz of distance/attention?"
https://github.com/akirasosa/bert-fold

[2020-11-28 09:22] sacdallago commented on #97
CC @akirasosa ; thanks for the initial work :P this helps out a lot

[2020-11-28 10:35] #41 closed, assigned to sacdallago

[2020-11-29 12:58] #91 closed, assigned to sacdallago, konstin

[2020-11-29 12:58] konstin commented on #53
Do you still want this now that we have `half_precision`?

[2020-11-29 12:59] #87 closed, assigned to konstin

[2020-11-29 13:28] konstin commented on #40
New statistics: A round trip with all embedder (instantiate, embed PROTEIN and SEQWENCE, del, gc.collect(), torch.cuda.empty_cache()) leads to 0.8GB  being leaked with torch 1.5. Notably without empty_cache it's 4.8GB, so some of the GPU memory might look blocked for the next stages when it's actually only used by torch's gc cache.

[2020-11-29 13:31] konstin commented on #72
The following are the model sizes by reserved memory on an RTX 8000: `{'prottrans_albert_bfd': 896069120, 'prottrans_bert_bfd': 1680044544, 'prottrans_xlnet_uniref100': 1637654528, 'seqvec': 374478336, 'esm': 2748142592, 'unirep': 0, 'cpcprot': 6841344, 'plus_rnn': 59661312, 'bepler': 67207168}`

[2020-11-30 15:30] sacdallago commented on #53
I guess that we can zip files, too. Closing for now

[2020-11-30 15:30] #53 closed, assigned to sacdallago, konstin

[2020-12-02 16:57] #95 closed, assigned to sacdallago

[2020-12-03 16:45] #96 closed, assigned to nobody

[2020-12-04 14:27] konstin opened #98 "Use k-nn output as DeepBLAST input"
Use `transferred_annotations_file` as input instead of the pairings file

[2020-12-09 15:38] konstin commented on #40
I've tried to get size of the DeepBLAST model but I keep getting contradictory results. The used memory according to nvidia-smi varies depending on the GPU and the torch version from 740MiB (Titan X, torch 1.5) to 1284MiB (RTX 8000, torch 1.7).

After I delete the model, gc.collect(), empty the cuda cache and check that the gc doesn't track any tensors anymore, I still see about 1GB of memory bein

[2020-12-12 22:57] alex-treebeard commented on #84
Hey @konstin -- just been dropping by on notebook testing issues as i've release [nbmake](https://github.com/treebeardtech/nbmake).

Only issue is this is the first case i've seen where cell-skipping is required. Potentially an interesting feature. Keen to hear your feedback, if any!

[2020-12-14 21:54] sacdallago opened #102 "Caching, ma' old friend"
Currently, although below the seuqence length (2k), some sequences aren't processed by the webserver because mongo refuses to store their embeddings (especially the case with seqvec, since Lx1024x3):

[code]

Researching this issue, I found this answer: https://stackoverflow.com/a/4667728

Especially worrying, to me, is the idea that when the cache is quried, it's entirely copied to RAM (did I get

[2020-12-14 21:57] sacdallago commented on #102
Note to self: data to reproduce

POST /annotations on swagger (https://api.bioembeddings.com/api/) with:
[code]

On webserver: `docker logs --follow bio_embeddings_webserver`

[2020-12-16 12:22] sacdallago commented on #102
Related:
- Cache embeddings only for 12h & up to 2k
- Cache annotations for 14 days

[2020-12-17 09:50] #102 closed, assigned to sacdallago, konstin

[2020-12-17 12:58] konstin opened #103 "ESM updates and versioning"
ESM has published a new model ESM-1b. We can't just replace the old model with the new model and change the protocol output, however we need some way to allow the user to "upgrade" to newer models/weights for such cases. Two apparent solutions are a new protocol `esm_1b` which has a shared implementation with `esm` or a field `model: esm-1b` which allows to select model weights. Drawback for the f

[2020-12-17 13:35] konstin opened #104 "BasicAnnotationExtractor should donwload weights"
Currently you need to manually download the weights to instantiate `BasicAnnotationExtractor` (and it also doesn't check if you have passed any weights). It should instead use the same logic as the embedders.

[2020-12-17 14:12] #88 closed, assigned to konstin

[2020-12-17 17:59] sacdallago commented on #104
Yup, it only downloads them through the pipeline. Fair point.

[2020-12-17 18:00] sacdallago commented on #103
I would opt for a new protocol. Consistency is not always intelligent 😞

Anyway, yes. That model is real cool. Would be super cool to have it in!

[2020-12-17 19:04] #54 closed, assigned to nobody

[2020-12-20 22:26] sacdallago opened #105 "Pipeline fails if specialized install"
Installing the package via `bio-embeddings[transformers]` will complain when running a `prottrans-bert-bfd` pipeline because of unimportable SeqVec.

Error:
[code]

I assume this is the issue: https://github.com/sacdallago/bio_embeddings/blob/develop/bio_embeddings/embed/pipeline.py#L13

Which should rather be conditional, a-la: https://github.com/sacdallago/bio_embeddings/blob/develop/bio_embeddi

[2020-12-23 12:48] #104 closed, assigned to nobody

[2020-12-23 12:50] konstin opened #106 "Add description, inputs and outputs for bio_embeddings.visualize.html"
Note to self @sacdallago
Add description, inputs and oputputs for https://docs.bioembeddings.com/modules/bio_embeddings.visualize.html

Relevant for protocol!

_Originally posted by @sacdallago in https://github.com/sacdallago/bio_embeddings/issues/93#issuecomment-731076308_

[2020-12-23 12:51] konstin commented on #93
I don't think there's a good way to include the yaml examples in sphinx. I've created a new issue for the comment

[2020-12-23 12:51] #93 closed, assigned to sacdallago, konstin

[2020-12-30 11:55] #105 closed, assigned to konstin

[2020-12-30 14:11] #46 closed, assigned to konstin

[2020-12-30 15:00] konstin opened #107 "Webserver umap: zero-size array to reduction operation maximum which has no identity"
When I tried to use the SeqVec pipeline of the webserver with the seqence-protein example, I got an exception in the umap part:

[code]

[2020-12-31 09:39] sacdallago commented on #107
Hmm, have to look this one up. Could you send the sequence file?

[2020-12-31 09:43] sacdallago commented on #106
I feel like this was done https://docs.bioembeddings.com/api/bio_embeddings.visualize.html

[2020-12-31 09:43] #106 closed, assigned to sacdallago

[2020-12-31 13:04] konstin commented on #107
https://github.com/sacdallago/bio_embeddings/blob/develop/test-data/seqwence-protein.fasta

[2021-01-04 09:59] sacdallago opened #108 "Limit embedding requests to 1/10m"
https://flask-limiter.readthedocs.io/en/stable/

Only for /embeddings endpoint!

[2021-01-18 10:22] #103 closed, assigned to konstin

[2021-01-22 16:29] sacdallago opened #109 "T5 embeddings and transformer 4.0"
AFAIU there's some important note regarding T5 embeddings you two need to battle with.

This would be great if addressed soon since we have a paper coming out on T5 embeddings and directing users to the pipeline will be beneficial.

[2021-01-25 09:35] #109 closed, assigned to konstin, mheinzinger

[2021-02-03 08:00] ptynecki opened #110 "[Feature] EmbedderInterface class with device_index attribute and set_device_index method"
Hey,

### Description
I would suggest to extend `EmbedderInterface` class (inherited by each of the embedding class) to support device index setup (torch.device). This possibility unleash the potential of bio-embeddings execution on multi-GPU server at the same time.

By `set_device_index` method or by `device_index` argument in constructor, the user could decide and control which embedding instan

[2021-02-03 17:19] konstin commented on #110
Hi Piotr,

you can already do this by passing `device="cuda:" + str(device_index)`. The following code (which can be run from the repository root) embeds on two gpus at the same time:

[code]

[2021-02-03 18:13] KacperStasieluk opened #111 "BUG: AttributeError: module 'torch.jit' has no attribute '_script_if_tracing'"
Hello everyone,
When trying to execute the code below:

`from bio_embeddings.embed import SeqVecEmbedder`
`embedder = SeqVecEmbedder()`
`embedding = embedder.embed("SEQVENCE")`

I got an error that reads as follows:

But the said information was not the cause of the problem. Instead, they were conflicting versions of the torch, torchvision, and pillow libraries that do not interact with the bio_em

[2021-02-03 18:57] konstin commented on #111
Hi Kacper, thanks for reporting this. Do you know which combination of torch, torchvision and pillow versions caused the error? With `pip install -U bio_embeddings` I got 1.5.1, 0.6.1 and 8.1.0, with which the error doesn't occur. You should be able to check with:

[code]

If I know which version causes the problem, I can add a constrained that prevents that version from being installed.

[2021-02-03 19:28] KacperStasieluk commented on #111
For some reason, I have now changed the environment to Google Colab, but was able to reproduce the bug successfully.

In this particular case, the following versions are causing the problem:

From which I conclude that the most likely problem is the too high version of **torchvision**. It seems to me that the other libraries are of little importance in this case.

[2021-02-09 12:26] deniseduma opened #112 "Where is the docker image?"
Hi,

I'm trying to use docker to run bio-embeddings and you say "We provide a docker image at rostlab/bio_embeddings"

Where is the docker image because I can't find it?

Also, in the command

docker run --rm --gpus all \
    -v "$(pwd)/examples/docker":/mnt \
    -u $(id -u ${USER}):$(id -g ${USER}) \
    rostlab/bio_embeddings /mnt/config.yml

there is $pwd, where should I run the docker command

[2021-02-09 21:45] deniseduma opened #113 "Issue with installing the package"
Hi,

So on a second thought, I'd prefer having my own installation of bio_embeddings rather than running it through Docker, however, I encounter the following error when trying to install it on an HPC cluster:

pip3 install -U "bio-embeddings[all] @ git+https://github.com/sacdallago/bio_embeddings.git" > /dev/null
  Running command git clone -q https://github.com/sacdallago/bio_embeddings.git /tmp

[2021-02-09 22:18] konstin commented on #113
Hi Denise,

unfortunately, the currently release is bound to pytoch 1.5 (We've pinned that version due to issues with google colab). I'll check whether we can upgrade to 1.7 (I've already done some testing in https://github.com/sacdallago/bio_embeddings/issues/80) and report back.

Best,
Konstantin

[2021-02-09 22:52] deniseduma commented on #113
Hi Konstantin,

I'm totally fine with having Pytorch 1.5, the problem is when trying to install bio-embeddings I get this error "ERROR: torchvision 0.8.2 has requirement torch==1.7.1, but you'll have torch 1.5.1 which is incompatible."

so it seems bio-embeddings require Pytorch 1.7 and this is the reason I've installed Pytorch 1.7!

Will it work with 1.5?

Also, what NumPy version does it require

[2021-02-10 09:59] sacdallago commented on #112
HI @deniseduma ,

we need to update the documentation slightly (@konstin). You can build the image from the [Docker file you find in the root](https://github.com/sacdallago/bio_embeddings/blob/develop/Dockerfile). This is usually something like `docker built -t .` when you run the commant from the root of the repo. @konstin you might to expand on this one.

Alternatively, we started providing auto

[2021-02-10 10:55] deniseduma commented on #112
Hi Christian,

Thank you very much for getting back to me!

I'm not familiar with Docker actually and I'd much rather prefer to use the pip installation which unfortunately doesn't work for me either!

I went back to trying to install bio-embeddings on the cluster I'm using (I'm in Munich as well, I work at Helmholtz Zentrum ) but I'm having some annoying dependencies problems, as in bio-embedding

[2021-02-10 14:41] deniseduma commented on #112
Ok, I've managed to install the package with pip finally!

I won't need Docker after all but thanks for getting back to me, really appreciated!

Denise

[2021-02-10 16:14] deniseduma commented on #112
Me again!

Sorry about this, but now I have another issue, I managed to install the package on a slum cluster and submitted the job to one of the GPU machines in the cluster but now I get the following error:

Traceback (most recent call last):
  File "embed_seqs.py", line 8, in <module>
    embedder = ProtTransBertBFDEmbedder()
  File "/home/dd/.conda/envs/bio_embed/lib/python3.8/site-packages/bi

[2021-02-10 21:45] deniseduma commented on #113
Btw, torch 1.7.1 can now be installed in Google Colab so you don't have to pin torch anymore to this older version!

[2021-02-10 22:45] deniseduma commented on #113
Ok, so bio-embeddings doesn't work in Google Colab anymore despite the pinning!

It seems an error coming from torchvision

import trochvision

@torch.jit._script_if_tracing
     46 def batched_nms(
     47     boxes: Tensor,

[2021-02-10 22:47] deniseduma commented on #113
Sorry, the error is

AttributeError                            Traceback (most recent call last)
<ipython-input-6-89e736a4908b> in <module>()
      1
----> 2 from bio_embeddings.embed import ProtTransBertBFDEmbedder
      3 from Bio import SeqIO

9 frames
/usr/local/lib/python3.6/dist-packages/torchvision/ops/boxes.py in <module>()
     43
     44
---> 45 @torch.jit._script_if_tracing
     46 def

[2021-02-12 09:05] deniseduma opened #114 "Using cached weights with bio-emebdddings"
Hi,

I have an issue with using bio-emebddings on a Slurm cluster as the Internet is somehow not accessible so I would need the pre-trained model weights downloaded and cached locally as you mentioned here:

"Same as before, but using cached weights, which is faster: use_case_two
Use case: you have a set of proteins (in FASTA format) and want to create amino acid-level embeddings, as well as prote

[2021-02-18 16:20] #111 closed, assigned to nobody

[2021-02-18 19:12] konstin commented on #114
Hi Denise,

when using bio_embeddings installed with pip, it already downloads the weights only once, storing them in the user cache dir (usually `~/.cache/bio_embeddings`). This however may not work well with a cluster if the user directory isn't shared.

For docker, you could use a volume shared between multiple runs:

[code]

I've updated the readme accordingly because that's actually a good th

[2021-02-18 19:18] konstin commented on #111
I've updated torch to 1.7, so torchvision should now work. Please feel to open another issue if something is still broken

[2021-02-18 19:20] konstin commented on #113
I've updated torch to 1.7 and released bio_embeddings 0.1.6, so now a simple `pip install bio_embeddings[all]` should work. This should also fix `module 'torch.jit' has no attribute '_script_if_tracing'` (see also https://github.com/sacdallago/bio_embeddings/issues/111)

[2021-02-18 19:35] konstin commented on #112
Sorry for all the trouble with the missing docker image, I've totally missed this when making the 0.1.5 release.

I've now published `ghcr.io/bioembeddings/bio_embeddings:v0.1.6` which can be used like this:

[code]

---

This sounds like the machine has no internet, thought I'm not sure we they'd block cluster nodes from making network requests.

[2021-02-19 12:52] deniseduma commented on #114
Hi Konstin,

Thank you very much for getting back to me, really appreciated it!

I've eventually figured it out, and did pretty much what you recommend!

Basically, I've run bio_embeddings on the login node of the Slurm cluster which had no issue connecting to the Internet, and noticed that the weights got downloaded! Then, as my home folder is shared across all nodes in the cluster, I was able to

[2021-02-19 12:58] deniseduma commented on #113
Thanks, Konstin!

 I've only encountered this error, module 'torch.jit' has no attribute '_script_if_tracing', when attempting to install bio_embeddings on Google collab! I think it was due to the fact that torch was too old compared with the torchvision installed in Google Colab or sthg like that!

As I mentioned in my previous reply, I've finally managed to install bio_embeddings on a Slurm clus

[2021-02-19 13:02] deniseduma commented on #112
Thanks for updating the docker image although I guess, I'll happily pass on using it! :p I'm not a big fan of Docker I guess! :p

Regarding, [Errno 101] Network is unreachable, the cluster admins never got back to me, but yes, it seems the cluster nodes don't have Internet access which is weird! Luckily the login nodes do, so I used those to download the weights!

Thanks,
Denise

[2021-02-19 13:29] #112 closed, assigned to nobody

[2021-02-19 13:42] #114 closed, assigned to nobody

[2021-02-19 13:42] #113 closed, assigned to nobody

[2021-02-26 10:33] konstin commented on #66
https://twitter.com/GoogleColab/status/1365062244225060865

[2021-02-26 16:57] #98 closed, assigned to konstin

[2021-03-01 13:41] konstin opened #116 "bepler fails on empty sequence"
[code]

[2021-03-01 14:00] konstin opened #117 "UniRep fails on empty sequences"
[code]

[2021-03-01 14:06] konstin opened #118 "UniRep creates a jax.interpreters.xla.DeviceArray instead of a numpy array"
Should be a numpy array

[2021-03-02 10:12] jzazo opened #119 "Pinned dependencies in pyproject.toml"
Hi! After installing bio_embeddings package I noticed that many of my dependencies downgraded, for example scikit-learn. I noticed that you upper bound many dependencies in `pyproject.toml`, and I would like to ask if such pins are necessary. Could some of those upper package versions be freed? Thank you.

[2021-03-03 13:03] konstin commented on #119
Hi! Unfortunately restricting dependencies is necessary, as new major versions often break bio_embeddings or one of our dependencies. I do dependency updates from time to time, but without bounds `pip install bio_embeddings` will quickly end up in broken installations.

For the specific example of scikit-learn, there is an additional bound from PLUS. Since we already patch PLUS anyway I'll check i

[2021-03-03 13:16] jzazo commented on #119
Thank you, I understand. However, it would be good practice to pin the bare minimum, and have tests to check that the package still works when the dependencies change.

[2021-03-03 16:51] konstin opened #120 "ESM1b with more than 1000 residues leaves GPU in cursed state"
[code]

This causes a Quadro RTX 8000 to say `/pytorch/aten/src/ATen/native/cuda/Indexing.cu:658: indexSelectLargeIndex: block: [95,0,0], thread: [127,0,0] Assertion `srcIndex < srcSelectDimSize` failed. ` and be poisoned until the entire process is stopped and restarted (all embedding attempts will yield `RuntimeError: CUDA error: device-side assert triggered`)

[2021-03-03 17:51] konstin commented on #120
Reported upstream: https://github.com/facebookresearch/esm/issues/49

[2021-03-21 20:22] konstin commented on #119
It is crucial for bio_embeddings that `pip install bio_embeddings[all]` always works, so we unfortunately have to set strict upper limits and update them manually. In v0.1.7 I've updated scikit-learn to ^0.24.0, which I hope works for you.

[2021-03-21 20:22] #119 closed, assigned to nobody

[2021-03-22 12:42] konstin opened #121 "Forward references break give a confusing error"
[code]

This (correctly) fails, but instead of triggering the `"Stage {} depends on {}, but dependency not found in config."` error, it complains about a missing parameter

[2021-03-28 09:54] sacdallago opened #122 "Weird logic in T5?"
If I initialize the model with `decoder=True`, the decoder is not, in fact, on: https://github.com/sacdallago/bio_embeddings/blob/develop/bio_embeddings/embed/prottrans_t5_embedder.py#L42 .

I somehow expect the opposite to happen: I set the decoder to false, thus the decoder won't be loaded. Default would be true.

[2021-03-28 10:00] sacdallago commented on #122
P.S.: since I'm working on something bigger, I can include this in my next PR if you agree that this is weird and should rather be the other way around :)

[2021-03-28 15:17] sacdallago opened #123 "Getting tqdm error on Colab"
Executing: https://colab.research.google.com/github/sacdallago/bio_embeddings/blob/develop/notebooks/extract_supervised_from_seqvec.ipynb

I get:

![image](https://user-images.githubusercontent.com/6240943/112757255-4011ea80-8fe9-11eb-8faf-029f40f49e80.png)

this error goes away after I re-execute the pip3 install commands.

High prio because relevant for protocol users!

[2021-03-29 07:57] mheinzinger commented on #122
This is indeed weird and I'm not sure whether I might be just missing something in @konstin 's logic but the short version is:
- The Decoder is so much worse (really way beyond any std. error) that it is pretty much useless. It might have helped the model during pre-training because it forces the Encoder-side to summarize information but it was clearly absolutely useless in any downstream predicti

[2021-03-29 09:00] sacdallago commented on #122
Logging: seems like `decoder: True` is not a recognized option in the pipeline.

![image](https://user-images.githubusercontent.com/6240943/112812908-eb6c7f00-907d-11eb-9a87-25aaea7d5296.png)

[2021-03-29 09:14] mheinzinger commented on #122
Fair; I guess that's mostly based on
a) slightly different embedding logic when using the decoder (=more work/complicated code structured)
b) me telling @konstin that the Decoder is useless anyway (=potentially wasted time if no one uses the Decoder anyway)

[2021-03-29 09:15] sacdallago commented on #122
Also, seems to be relevant:

[code]

Config used:

[code]

[2021-03-29 09:17] sacdallago commented on #122
@mheinzinger well, to me (and I guess I'm in the loop :) So imagine external users ) it's super confusing a mixed up logic, little understanding what's going on and why, and three options:

1. ~decoder~ encoder only ?
2. Half model ?
3. Half precision ?

I'm upgrading this to bug, since the error above.

[2021-03-29 09:23] mheinzinger commented on #122
Yup, that's why I said "slightly different embedding logic when using the decoder" ;)
If you want to use the decoder (again: no idea why you should):

model = T5Model()
with torch.no_grad():
    embedding_repr = model(input_ids, attention_mask=attention_mask, decoder_input_ids=input_ids)
decoder_emb = embedding_repr[0][batch_idx,:s_len] # first element of tuple returns Decoder tensor of shape [bat

[2021-03-29 09:31] sacdallago commented on #122
On this one I disagree, since I want to make no assumptions on what _users want_.

Ah, here you are hitting the nail on the spot. Currently, setting decoder=True will use T5EncoderModel. So, you can see why I say this is extremely confusing. There's no semantic meaning to "half model": which half? Sure... You know, because you are a ML expert: what about a biologits?

I prefer either an option `en

[2021-03-29 09:36] sacdallago commented on #122
Maybe "half model" for t5 is an ambiguous name in either case, given that it can be "half precision" or "only one half (decoder/encoder) of the model". Maybe a better name for what we are trying to achieve in that _case_ is `half_precision_model`. Opinions?

[2021-03-30 11:38] konstin commented on #123
I've filed an issue upstream: https://github.com/huggingface/transformers/issues/10964. In summary, transformers uses pkg_resources with uses a cache which does only get updated when restarting the runtime or flushing the cache manually. Until we get a response from transformers, if you want I can add a very hacky workaround.

[2021-03-30 16:51] konstin commented on #120
@sacdallago So ESM1b is limited to 1022 residues. What do you want to do with longer sequences? Same as with albert (all zeros), embed the first 1022 and pad with zero or something entirely different?

[2021-03-30 20:55] konstin commented on #122
I'm afraid I messed up the options and `decoder` meant the inverse of what it should. Sorry for all the confusion this caused.

I've made a merge request to fix that and ensure that `decoder=False` actually means only encoder, along with some other stuff that came up when fixing that.

I have manually confirmed that both `ProtTransT5UniRef50Embedder(decoder=False).embed("PROTEIN")` and `ProtTransT

[2021-03-31 19:23] willfinnigan opened #124 "Can't install version beyond 0.1.4"
Hi all,

Really great package!

I don't seem to be able to install any versions (with [all] specified), beyond 0.1.4.    Without [all] it works fine, but then I can't actually do anything.

When I try 0.1.5 - 0.1.7 I get this error:
[code]

I think there is a problem with gcc on my mac which I havent been able to solve..  so this is probably my issue.  But I thought I'd let you know, since 0.1.4 w

[2021-04-01 08:01] sacdallago commented on #122
I'm thinking of a way we can include this picture somewhere...

[2021-04-01 10:25] sacdallago commented on #124
Hi @willfinnigan , thanks for reaching out! Since 0.1.4 we have introduced a new model that requires compliation upon installation (`bio-embeddings-bepler`). This is the Bepler model: https://github.com/bioembeddings/protein-sequence-embedding-iclr2019 . If you do not require this model, instead of `[all]`, you can install extras only for those models that are of interest to you, e.g. for protbert

[2021-04-01 10:31] sacdallago commented on #120
Exception! Unfortunately, while harsh, this is the only reasonable thing to do. If you start padding things with zeroes and the user doesn't read warnings: they'll be confused, worse: train and publish classifiers on wrong inputs. If some sequences are L*x zero matrices: same same... It should be fairly easy to check this in the pipeline! Pick the first row of the mapping file: if L > 1022, throw

[2021-04-01 10:34] sacdallago commented on #123
:D and you received praise from the transformers team, not bad ;) and you'll be a contributor to huggingface, what a prolific coder

No hacks for now, let's see how quickly they merge your PR (I'd assume: quickly)

[2021-04-01 10:37] sacdallago commented on #117
I think this is ok, the only frustrating thing is if this happens in the pipeline: you embed all sequences up to the last one(s) which are empty. I suggest the same as https://github.com/sacdallago/bio_embeddings/issues/120#issuecomment-811816065 , but reverse: check last entry in mapping file, if L < 1 throw the exception (the same they throw, for all that matters :) or use on of ours, doesn't ma

[2021-04-04 08:50] sacdallago opened #125 "Documentation improvements"
Following various cases of misinterpreted or missing documentation, one of the next things to work on (for me) are new docs. This includes:

1. Improved readme
2. Dedicate instal .md with explanation as to what `[all]` means and "which extras are right for you"
3. Use of common language, e.g. "homology" or "sequence similarity lookup" for unsupervised annotation transfer.
4. Maybe a FAQ (although

[2021-04-10 09:58] #123 closed, assigned to konstin

[2021-04-25 12:14] sacdallago opened #126 "Should not run half_precision_model on CPU!"
I'm building the webserver on a GPU-less machine. Using `half_precision_model` (prottrans_t5_*):
- Only runs on one thread (extremely slow!)
- Fails at some point with `RuntimeError: "threshold_cpu" not implemented for 'Half'`

This is a known issue: https://github.com/pytorch/pytorch/issues/48245

CC @mheinzinger @konstin

Let's see if this gets fixed upstream. Meantime, for me to know: it's NOT

[2021-04-25 13:55] konstin opened #127 "Check T5 on CPU"
See https://github.com/pytorch/pytorch/issues/48245#issuecomment-730967335. I'll also check for a rule of thumb for RAM usage so we don't overflow people's RAM when falling back the the CPU.

[2021-04-25 18:59] sacdallago commented on #127
The latter is a great improvement, something that may be relevant for many people working on clusters (with maybe less RAM assigned to a job than vRAM to the GPU). The former might be an upstream problem I'd not suggest you to lose too much time to. From my (very limited) testing it seems that the model in .half() is not parallelized, and is thus slower. It's *not* slower because it uses different

[2021-04-26 11:59] #80 closed, assigned to konstin

[2021-04-26 11:59] konstin commented on #89
Done

[2021-04-26 11:59] #89 closed, assigned to konstin

[2021-04-26 14:39] #120 closed, assigned to konstin

[2021-04-29 19:09] LiorZ opened #128 "Installation produces errors, imports don't work"
This is the message that appears during installation:
[code]

Then, trying to import:
`from bio_embeddings.embed import BertEmbedder`
produces the following error:
`TypeError: Params.pop: key must be a supertype of `<class 'inspect._empty'> but is `<class 'str'>``

Link to Colab for reproduction: https://colab.research.google.com/drive/1msZVwcCT2b768HnbRK3SrnmRqtVjvsgg?

[2021-04-30 06:52] sacdallago commented on #128
Hi @LiorZ , thanks for using `bio_embeddings`. It seems like the code you are trying to run is very outdated. Since that version of the code:

1. Colab has been updated in key components (python/pip)
2. Our pipeline has been updated to try to account for those changes
3. Out notebooks were updated to address some of those issues

Here you can find a mix of what you are trying to achieve on the lat

[2021-04-30 06:52] #128 closed, assigned to nobody

[2021-04-30 08:05] LiorZ commented on #128
Hi @sacdallago !
Thanks for making such a great library!

I have ran the installation statements twice as you suggested.

Unfortunately I still encounter an error upon importing the library. Just running the following lines (on colab, and even locally using a clean conda environment with python 3.8.5):
`from bio_embeddings.embed import ProtTransBertBFDEmbedder`

`TypeError: Params.pop: key must be

[2021-04-30 08:08] LiorZ commented on #128
OK, Apparently, installing allenlp==2.2.0 solves the issue

[2021-04-30 13:18] sacdallago opened #129 "Protocol prottrans_t5_xl_u50: RuntimeError: "baddbmm__mkl" not implemented for 'Half'"
## Metadata
|key|value|
|--|--|
|**version**|0.1.7|
|**cuda**|True|

## Parameter
|key|value|
|--|--|
type|embed
protocol|prottrans_t5_xl_u50
model_directory|/mnt/project/bio_embeddings/models/lms/t5_u50
half_precision_model|True
half_precision|True
reduce|True
discard_per_amino_acid_embeddings|True

## Traceback
[code]

## More info
@konstin you can find the run @
[code]

[2021-04-30 13:22] sacdallago commented on #129
I think this just goes hand in hand with #126 and #127

[2021-05-01 11:44] sacdallago commented on #128
Thanks @LiorZ ... 🤔 Colab remains a mystery. Sometimes it works, sometimes it doesn't.

Unfortunately we are users (just like everyone else) and can't really determine python/pip/underlying packages versions, this makes "reamining compatible" several magnitudes more challanging, and even for something that worked 1 day before, there's no guarantee it will work tomorrow.

Therefore my suggestion is

[2021-05-02 08:14] konstin commented on #129
Reported upstream: https://github.com/huggingface/transformers/issues/11546

[2021-05-02 08:16] #116 closed, assigned to nobody

[2021-05-02 08:16] #118 closed, assigned to nobody

[2021-05-02 08:16] #117 closed, assigned to konstin

[2021-05-02 08:51] #65 closed, assigned to nobody

[2021-05-02 09:03] konstin commented on #127
* T5 fp16 crashes on the CPU
 * T5 fp32 works, and after an initial single threaded period it's also multithreaded. It becomes quadratically slower and more memory consuming though, with 15.8k residues taking 484s and ~100GB peak RAM usage. OTOH 10k residues seems to be the maximum on the RTX 8000

[2021-05-03 12:17] 1511878618 opened #130 "I stop downloading the pre-train model at the first time to use SeqVecEmbedder"
run the codes below:
`from bio_embeddings import embed`
`embed.seqvec_embedder.SeqVecEmbedder()`

then I met this message.
OSError: Unable to open file (truncated file: eof = 90112, sblock->base_addr = 0, stored_eof = 374434776)
I just don't wanna to rebuild a new Conda env

So can any one help me ?

[2021-05-03 12:19] 1511878618 commented on #130
and btw, when I run these codes, I stupidly stop the running code since the downloading went with 10kb/s .And after I changed my net to rerun it I met this problem.

[2021-05-03 12:39] konstin commented on #130
It seems that you have a truncated (i.e. half-downloaded) weights file for seqvec. You can clean the corrupted weights by removing `.cache/bio_embeddings/seqvec` in your home directory. I'll check if we can catch these cases directly in bio_embeddings.

[2021-05-04 04:05] 1511878618 commented on #130
emm, and my home directory don't have `.cache/bio_embeddings/seqvec` , actually no `.cache` directory. My system is macOS.

[2021-05-04 14:49] sacdallago commented on #130
Hi @1511878618 , you won't see the `.cache` folder if you use the Finder. You have to use the terminal App to view these types of folders (anything that starts with a dot).

On you Mac, open spotlight (the 🔎  on the top-right). Search for "Terminal". At this point a new Terminal window will appear.

If you now type exactly:
[code]

you should see an output of files. Now you can type ​**exactly** t

[2021-05-04 14:57] sacdallago commented on #125
Models (https://docs.bioembeddings.com/v0.1.6/api/bio_embeddings.embed.html) should document what options can be passed in kwargs, e.g. `model_directory` to pass model weights (potentially put link to data.bioembeddings?) or `weights_file` and `options_file` for SeqVec.

CC @konstin

[2021-05-04 15:00] sacdallago commented on #130
Feel free to re-open the issue if your problem is not solved!

[2021-05-04 15:00] #130 closed, assigned to konstin

[2021-05-04 15:00] konstin commented on #125
Through doc comments or by replacing `**kwargs` with the actual args? (see e.g. https://github.com/encode/httpx/blob/2e4b308d7ab138de106f6672326a02e07d350904/httpx/_client.py#L573-L605 for an extreme case of the latter)

[2021-05-04 15:00] sacdallago commented on #126
Closing in favor of #129

[2021-05-04 15:01] #126 closed, assigned to sacdallago

[2021-05-04 15:05] sacdallago commented on #125
- The software engineer in me says by replacing **kwargs
- The "I'm afraid by how many things we'll miss" in me says by doc comments

Your opinion?

I think it's anyway not fruitful to e.g. define these at the level of the interface because 90% of users won't know or see that e.g. ProtTransBert... is a child of BertBase... so it's not going to buy us much

[2021-05-06 13:24] konstin commented on #129
T5 fp16 is now blocked from running on the CPU, unless torch/transformers happen to fix this there not much we can do

[2021-05-06 13:24] #129 closed, assigned to konstin

[2021-05-08 08:13] mkorpela commented on #128
Please update to overrides 6.1.0 that resolves third party untyped override.

[2021-05-11 17:14] tijeco opened #131 "Issue installing bioembeddings in google colab"
I have tried running the google colab example `extract_supervised_from_seqvec.ipynb`, but have run into some errors.

When I run the first cell

[code]

I get the following errors

[code]

Moving on to the next cell (skipping the download cell, which worked fine with no issues)

[code]

I get the following glorious errors

[code]

Any advise on how to get it to install in google colab?

[2021-05-13 15:47] sacdallago commented on #131
Hi,

sorry for the late reply, it seems like Colab likes making our life harder than it should be... https://github.com/sacdallago/bio_embeddings/issues/128#issuecomment-835198866

@konstin could you work on a fix before releasing the next version?

[2021-05-14 12:51] #131 closed, assigned to konstin

[2021-05-14 19:10] konstin commented on #131
v0.2.0 is out, this should fix that problem

[2021-05-15 17:15] tijeco commented on #131
@konstin Thanks so much!! It's working like a charm!!

[2021-05-16 10:58] sacdallago commented on #127
I think we can close this for now as it's handled.

[2021-05-16 10:58] #127 closed, assigned to konstin

[2021-05-16 10:59] sacdallago commented on #124
Closing in favour of #125

[2021-05-16 10:59] #124 closed, assigned to nobody

[2021-05-16 11:00] sacdallago commented on #122
Solved. Maybe can add the ASCII fig above in the doc rewamp #125

[2021-05-16 11:00] #122 closed, assigned to konstin, mheinzinger

[2021-05-16 11:01] sacdallago commented on #110
Closing due to inactivity. Please re-open as needed :)

[2021-05-16 11:01] #110 closed, assigned to nobody

[2021-05-16 11:02] sacdallago commented on #92
This should be part of #125

[2021-05-16 11:03] sacdallago commented on #90
Is this still relevant? I mean: yes (it's a fact), but can we close the issue if it's mitigated in the code (through rising errors or what not :))?

@konstin

[2021-05-16 11:04] sacdallago commented on #84
Should we bump this up or close for now?

I did relize that some notebooks need updating in the mantime, e.g. the ones from the protocol & supervised extract. Probably anotherone to add to the #125 thread

[2021-05-16 11:05] sacdallago commented on #77
Done by @konstin

[2021-05-16 11:05] #77 closed, assigned to sacdallago

[2021-05-16 11:05] sacdallago commented on #18
Done by @konstin

[2021-05-16 11:05] #18 closed

[2021-05-16 11:06] sacdallago commented on #34
At this point, I think this may be a bit too much work for too little gain

[2021-05-16 11:06] #34 closed, assigned to nobody

[2021-05-16 11:07] sacdallago commented on #49
Closing for now, Colab seems to work as intended (which will change suddenly the next time someone at Google sneezes)

[2021-05-16 11:07] #49 closed, assigned to nobody

[2021-05-16 11:08] sacdallago commented on #66
Done, right @konstin ?

[2021-05-16 11:08] sacdallago commented on #71
I think we can archive this as I've simply loaded some models on CPU instead of GPU since we have CPU to spare and web users are anyway limited in their "speed".

[2021-05-16 11:08] #71 closed, assigned to nobody

[2021-05-16 11:11] sacdallago commented on #72
Another instance of: feels like more work than gain at this point. Unless you already have the script @konstin ?

[2021-05-16 11:12] sacdallago commented on #74
Didn't happen again, closing for now

[2021-05-16 11:12] #74 closed, assigned to nobody

[2021-05-16 11:14] konstin commented on #66
yes

[2021-05-16 11:14] #66 closed, assigned to nobody

[2021-05-16 11:16] konstin commented on #72
No, and unfortunately the max batch size (and even the max sequence length) change non-deterministically

[2021-05-16 11:19] konstin commented on #92
Afaik this is also mostly done

[2021-05-17 14:51] sacdallago commented on #72
yeah... let's then just shelve this for now

[2021-05-17 14:51] #72 closed, assigned to nobody

[2021-05-18 07:29] ptizei opened #132 "pip install not updating PATH in fresh conda env (Ubuntu 18.04.5)"
I created a new conda env specifically to run `bio_embeddings` and just did `pip install` to get the package, as recommended in the repo `README.md`.

Everything seemed to go just fine, but then I couldn't run the first test protocol from the Cur Protocols paper. Importing bio_embeddings from the python shell and doing the sequence embedding example from the `README` worked just fine, so I figured

[2021-05-18 07:38] ptizei opened #133 "Protocol plotly: RuntimeError: Expected embeddings in projected_reduced_embeddings_file to be of shape (3,), not (2,)"
Running Basic Protocol 1 from the Cur protocols paper I get the variable shape error shown in the auto-generated issue name. I'll post the full terminal log from stdout and stderr below the auto-generated part.

## Metadata
|key|value|
|--|--|
|**version**|0.2.0|
|**cuda**|True|

## Parameter
|key|value|
|--|--|
type|visualize
protocol|plotly
annotation_file|disprot_annotations.csv
display_unknown

[2021-05-18 09:16] konstin commented on #90
I just tried very hard, but at least ESM1b categorically doesn't want to use more than 4GB so ¯\_(ツ)_/¯

[2021-05-18 09:16] #90 closed, assigned to nobody

[2021-05-18 09:22] #133 closed, assigned to nobody

[2021-05-18 09:23] konstin commented on #133
Sorry, this should now be fixed. You can try the fixed version with `pip install -U "bio-embeddings[all] @ git+https://github.com/sacdallago/bio_embeddings.git"`

[2021-05-20 09:05] sacdallago commented on #132
Hi @ptizei ,

sorry for the late response. Thank you for using the pipeline and helping us improve it through issues :)

I assume you installed the package using the [`--user`](https://stackoverflow.com/questions/42988977/what-is-the-purpose-of-pip-install-user) flag? If so, yes: the binary gets stored into your local bin. I never looked if this makes into the `PATH`, and just now saw that, as you

[2021-05-20 16:53] tijeco opened #134 "reduce_per_protein for glove, word2vec and fasttext"
I noticed ya'll have `reduce_per_protein` set as todo for  glove, word2vec and fasttext. I also noticed that most of the time this function either returns `embedding.mean(axis=0)` or `embedding.sum(0).mean(0)`. For these three embeddings, would it also be something as simple as that?

[2021-05-20 18:03] sacdallago commented on #134
hey. Yes, it would. Reason we haven't worked on these is that all other approaches are just soooooo much better. But for sake of completeness, we may finish these up, too

[2021-06-10 21:06] konstin commented on #128
@mkorpela I pinned overrides<5 since that is what allennlp needs.

[2021-06-14 06:43] sacdallago opened #136 "Per-sequence pedictions not written to file?"
Seems to be the case for both basic & T5 models in the `extract` stage:

[code]

Need to investigate

[2021-06-14 06:46] sacdallago commented on #136
I suppose it may be:

[code]

with a type mismatch? `protein_sequence.id` may be `int` while key is `str`?

[2021-06-14 06:59] sacdallago commented on #136
Definitely a type thing:

[code]

[2021-06-14 08:24] ddofer opened #137 "ProteinBert Support?"
Hi,
What would be needed in order to add support for ProteinBert embeddings?

(The framework/package is written with Keras/TF, and also supports GO annotations):
https://github.com/nadavbra/protein_bert

[2021-06-15 09:52] sacdallago commented on #137
Hi @ddofer , thanks for the ping.

We atomicize the operations. So what you would propose has two components:

1. The embedder (gets a protein sequence --> returns a per-residue/protein embedding). This goes in the `embed` stage of the pipeline
2. The supervised prediction models (gets a protein embedding from your model --> returns a prediction). This goes in the `extract` stage of the pipeline

[2021-06-15 21:12] #134 closed, assigned to nobody

[2021-06-15 21:18] konstin commented on #137
To add to what @sacdallago said:

 * I'd recommend using the pytorch version of your model if possible since most of our models are currently pytorch and none tensorflow
 * Implementing `EmbedderInterface` in a new embedder class is the core task, the remainder is just boilerplate to connect stuff
 * The simplest embedder is [OneHotEncodingEmbedder](https://github.com/sacdallago/bio_embeddings/blo

[2021-06-21 22:04] ptynecki opened #138 "AlphaFold 2 support?"
Something's gonna happen soon:
https://twitter.com/demishassabis/status/1405922961710854144

[2021-06-22 09:35] sacdallago commented on #138
Hi @ptynecki . I read. We'll see what comes out of it ;) The design of this project was never to "do it all", maybe there's parts we can borrow, maybe this will go into a bigger effort

[2021-06-22 09:35] #138 closed, assigned to nobody

[2021-06-25 06:08] sacdallago opened #139 "Webserver backend worker didn't restart after automatic reboot"
The backend server reboots every now and then to install security updates. One of these happened past night at 2AM. Usually docker containers are spawned up right away, but this time around everything got up execpt the bio_embeddings backend worker:.

Uptime:
![image](https://user-images.githubusercontent.com/6240943/123377332-35390880-d58c-11eb-944a-f817917bccd6.png)

Docker containers:
![image](

[2021-06-25 06:13] sacdallago commented on #139
Finally, by simply `docker-compose up -d`, the server got up again, so it may just have been a temporary thing. Good to have uptimerobot.

[2021-06-25 06:13] #139 closed, assigned to sacdallago

[2021-06-25 19:33] tijeco commented on #40
@sacdallago and @sacdallago

What would be the recommended way to do embedding in a subprocess? I'm having this issue with UniRep (I'm using `v0.2.0`) where in colab it runs out of memory after ~200 small peptide sequences in both GPU and CPU.

I've even moved things over to a server (CPU only) with ~1TB of RAM and it's climbing it's way up to using 70GB now, so I'll probably stop it soon, though

[2021-06-29 00:10] konstin commented on #40
@tijeco Could you please open a new issue with details on how to reproduce this (ideally with the fasta file, if you can publish it)?

[2021-06-29 00:55] tijeco commented on #40
@konstin Will do!

[2021-06-29 01:06] tijeco opened #140 "UniRep memory usage issue on CPU"
@sacdallago and @konstin  When embedding ~500 small peptide sequences UniRep keeps taking up progressively more and more virtual memory which can cause my machine to crash.

Here is a colab notebook to demonstrate this.

I believe this is similar to what has been discussed in #40

I should note, I have had a similar issue with using GPU, but CPU memory usage was easier for me to document.

https:/

[2021-07-08 21:25] oberguiuc opened #141 "Protocol plotly: RuntimeError: Expected embeddings in projected_reduced_embeddings_file to be of shape (3,), not (2,)"
## Metadata
|key|value|
|--|--|
|**version**|0.2.0|
|**cuda**|False|

## Parameter
|key|value|
|--|--|
type|visualize
protocol|plotly
annotation_file|disprot_annotations.csv
display_unknown|False
depends_on|umap_projections

## Traceback
[code]

## More info

[2021-07-08 21:26] oberguiuc commented on #141
config.yml:

`

    global:

    sequences_file: sequences.fasta

    prefix: disprot_sampled

    protbert_embeddings:

    type: embed

    protocol: prottrans_bert_bfd

    reduce: true

    discard_per_amino_acid_embeddings: true

    umap_projections:

    type: project

    protocol: umap

    depends_on: protbert_embeddings

    n_components: 2

    plotly_visualization:

    type: visualiz

[2021-07-11 19:47] konstin commented on #140
I'm afraid we're trapped between two bugs here: One is the memory leak you're reporting, which has been fixed in jax-unirep v2.0.2 through https://github.com/ElArkk/jax-unirep/pull/74. bio_embeddings however is still on v1, since v2 seems to change some embeddings (https://github.com/ElArkk/jax-unirep/issues/107).

I have checked and with v2 ([notebook](https://gist.github.com/konstin/8f9f077a16c3

[2021-07-12 12:00] sacdallago commented on #141
Thanks @nilsoberg2 , I'll look into this with #136 , these seem to be victims of re-engineering efforts

[2021-07-13 11:28] ptynecki opened #142 "ESM-1v support as a ESM1vEmbedder"
Hey,

Alex, Joshua, Roshan and other ESM co-authors just released **ESM-1v**.

**Paper:**
https://www.biorxiv.org/content/10.1101/2021.07.09.450648v1.full.pdf
**Code:**
https://github.com/facebookresearch/esm#main-models-you-should-use-

Regards,
Piotr

[2021-07-13 17:59] konstin commented on #142
Definitely want to include this, however I wonder how to deal with that actually being five models. Should we just expose them as five different LMs and let the user do the combining? (From skimming the paper I couldn't find how they actually combine the predictions. Do they just predict 5 times and take the mean?)

[2021-07-13 18:27] sacdallago commented on #142
@tomsercu can you help clear this doubt? :) would be greatm, so we can include & make availble at large

@konstin :

Since I suppose that loading each model will have some memory footprint, it may be better to separate them into 5 protocols, if it's really the case that all 5 are run and their results get aggregated in some fashion.

The aggregation can happen in a project-type stage (if at the le

[2021-07-13 22:55] tomsercu commented on #142
In the associated paper ([Language models enable zero-shot prediction of the effects of mutations on protein function](https://www.biorxiv.org/content/10.1101/2021.07.09.450648v1.full.pdf)) Page 4 Table 1 it is an ensemble in direct comparison to the DeepSequence setup. Page 6, Table 2 presents both ensemble and average over the 5 models.

Btw, let me know if there's any friction point currently i

[2021-07-15 04:01] faruk17035 opened #143 "Please give me how i could solve this error"
![image](https://user-images.githubusercontent.com/54856692/125727061-b61fb1e1-ee3a-48cd-8e62-e1a623b8c9fe.png)

[2021-07-15 10:13] sacdallago commented on #143
Hi @faruk17035 , as the error indicates, you have duplicate sequences in your FASTA file. Either remove the duplicate sequences or enable simple remapping:  https://github.com/sacdallago/bio_embeddings/blob/develop/examples/parameters_blueprint.yml#L13

[2021-07-15 10:13] #143 closed, assigned to nobody

[2021-07-15 11:14] faruk17035 opened #144 "Protocol word2vec: InvalidParameterError: Invalid protocol selection: word2vec"
The error is:
![image](https://user-images.githubusercontent.com/54856692/125779027-055d4743-fd52-48eb-9e15-e7dc7e56da9c.png)
Here is the config file:
![image](https://user-images.githubusercontent.com/54856692/125779094-ee24d3c0-03fa-4004-a431-dc3d82230d02.png)

[2021-07-15 11:16] faruk17035 opened #145 "Protocol seqvec: I"
Here the error file..Please give me a solution
![image](https://user-images.githubusercontent.com/54856692/125779274-b2545165-e240-4c92-9056-3e8601c1223a.png)

[2021-07-15 17:49] faruk17035 opened #146 "Protocol word2vec: error wor2vec invalid protocol"
How i solve this error
![image](https://user-images.githubusercontent.com/54856692/125833902-0271b0cb-c106-4374-b0bd-4f67b166fe96.png)

[2021-07-18 10:45] sacdallago commented on #146
Duplicate #144

[2021-07-18 10:45] #146 closed, assigned to nobody

[2021-07-18 10:45] sacdallago commented on #145
Duplicate #144

[2021-07-18 10:45] #145 closed, assigned to nobody

[2021-07-18 10:48] sacdallago commented on #144
Hi,

there are several issues here. The main ones are two:

1. As stated in the error message atop, you don't have any extras installed. You need all extras to run all embedders. Thus, the only available protocol is unirep (as stated at the end of the error).
2. You seem to be using Windows, which we don't support. There may be the option of using WSL as [described in our manuscript](https://curre

[2021-07-18 10:48] #144 closed, assigned to nobody

[2021-07-20 13:10] kandoigaurav opened #147 "Reverse the embedding execution and get the original AA sequence?"
Hi

I'm using some of the ProtTrans embedders (for example: ProtTransBertBFDEmbedder, ProtTransAlbertBFDEmbedder, ProtTransXLNetUniRef100Embedder) for protein property prediction. Most of my target protein sequences are small (<100 amino acids), but all the ProtTrans embedders/models were trained on much longer sequences.

So, as an housekeeping step, I would like to use the embeddings to generate

[2021-07-20 14:21] konstin commented on #147
Hi,

predicting the original residue from a per-residue embedding should be trivial, but generating sequences from a per-protein representation is mostly uncharted territory.

From personal experience the ProtTrans models work well for short sequences, especially ProtT5. I generally just do the predictions and then plot accuracy or whatever score I have against sequence length to check the influen

[2021-07-21 03:01] faruk17035 opened #148 "TypeError: argument of type 'NoneType' is not iterable"
![image](https://user-images.githubusercontent.com/54856692/126423893-ad37fc44-3a87-44f0-9781-4c2c82682580.png)

Please give me some guideline

[2021-07-21 05:08] faruk17035 opened #149 "Which is my output embedding file from these files(converted to numerical form) and how I work with it ? Please help dear Dallago Sir"
![image](https://user-images.githubusercontent.com/54856692/126433973-b0669c85-b857-4952-bec1-354280e269d2.png)

[2021-07-21 10:05] konstin commented on #148
Hi, can you please post your `config.yml`?

[2021-07-21 20:40] konstin commented on #149
The `embeddings_file.h5` contains the per-residue embeddings, the `reduced_embeddings_file.h5` contains the per-protein embeddings. You can check [this notebook](https://github.com/sacdallago/bio_embeddings/blob/develop/notebooks/open_embedding_file.ipynb) ([colab version](https://colab.research.google.com/github/sacdallago/bio_embeddings/blob/develop/notebooks/open_embedding_file.ipynb)) and [thi

[2021-07-22 00:54] faruk17035 commented on #149
Sir I want to apply CNN or RNN with these numerical file.  But I want a csv
file. Is there any way to get csv file from these h5 file. If not,
please let me know how I apply CNN or RNN on the h5 file.

On Thu, Jul 22, 2021, 2:40 AM konstin ***@***.***> wrote:

[2021-07-22 04:43] faruk17035 opened #150 "Can A DNA sequence be converted to numbers using word2vec,Glove and Fasttext protocol? Please give me some guideline"

[2021-07-22 06:45] faruk17035 opened #151 "How to solve this error, I put a DNA sequence here in fasta format...But it gives me error(When convet to numerical form using wor2vec). Please give me some guideline."
![image](https://user-images.githubusercontent.com/54856692/126599032-ab13de94-6044-494a-92ce-669ecdf18f2b.png)

MHLRHLFSSRLRGSLLLGSLLVVSSFSTQAAEEMLRKAVGKGAYEMAYSQQENALWLATSQSRKLDKGGVVYRLDPVTLEVTQAIHNDLKPFGATINNTTQTLWFGNTVNSAVTAIDAKTGEVKGRLVLDDRKRTEEVRPLQPRELVADDATNTVYISGIGKESVIWVVDGGNIKLKTAIQNTGKMSTGLALDSEGKRLYTTNADGELITIDTADNKILSRKKLLDDGKEHFFINISLDTARQRAFITDSKAAEVLVVDTRNGNILAKVAAPESLAVLFNPARNEAY

[2021-07-22 09:48] #136 closed, assigned to sacdallago

[2021-07-22 10:16] sacdallago commented on #147
Hi @kandoigaurav ,

what @konstin is the best bet for you. The package doesn't include a reconstruction tool yet, as it's mostly aimed for feature extraction.

On a personal note: I don't see a reason why the embedders shouldn't work well on short sequences! Mind, though, that during the training of ProtTrans models, sequences <20 AA were dropped from BFD (the first training set), while UniRef50 w

[2021-07-22 10:16] #147 closed, assigned to nobody

[2021-07-22 10:18] sacdallago commented on #149
Hi @faruk17035 , there is a notebook on how to train a classifier on embeddings here: https://github.com/sacdallago/bio_embeddings/blob/develop/notebooks/deeploc_machine_learning.ipynb

You can use the notebooks @konstin suggested to convert h5s to CSVs

[2021-07-22 10:18] #149 closed, assigned to nobody

[2021-07-22 10:19] sacdallago commented on #150
We currently don't support nucleotide sequences

[2021-07-22 10:19] #150 closed, assigned to nobody

[2021-07-22 10:21] sacdallago commented on #151
Duplicate #150 .

Your issue here though is not dependent on that as what you are showing is an AA sequence and the error message is about a permission issue (probably the file not being in the right directory or alike).

Also, you are using Windows which is not supported.

[2021-07-22 10:21] #151 closed, assigned to nobody

[2021-07-22 10:32] sacdallago commented on #140
I would wait for the maintainers of that repo to get back to you on [107](https://github.com/ElArkk/jax-unirep/issues/107). @tijeco : in the meantime, I would suggest you to use ESM-1b or ProtBert/T5

[2021-07-22 11:42] #141 closed, assigned to sacdallago

[2021-07-22 14:12] konstin commented on #141
v0.2.1 should contain the fix

[2021-07-23 11:33] faruk17035 opened #152 "the bio_embeddings Give me error of Invalid fasta sequence? But I think I could give the correct sequence as input in fasta file. How could I solve this error?(I use '>' before my fasta file.Please give me some guideline dear Dallago Sir)"
![image](https://user-images.githubusercontent.com/54856692/126776581-ba60d982-1365-4ac7-8493-0263268512d3.png)

This is my fasta file sequence:

MHLRHLFSSRLRGSLLLGSLLVVSSFSTQAAEEMLRKAVGKGAYEMAYSQQENALWLATSQSRKLDKGGVVYRLDPVTLEVTQAIHNDLKPFGATINNTTQTLWFGNTVNSAVTAIDAKTGEVKGRLVLDDRKRTEEVRPLQPRELVADDATNTVYISGIGKESVIWVVDGGNIKLKTAIQNTGKMSTGLALDSEGKRLYTTNADGELITIDTADNKILSRKKLLDDGKEHFFINISLDTARQRAFITDSKAAE

[2021-07-24 03:50] faruk17035 commented on #151
Dear Dallago Sir, I use wsl(ubuntu) in windows...but I don't understand why
it give me that error

On Thu, Jul 22, 2021, 4:22 PM Christian Dallago ***@***.***>
wrote:

[2021-07-24 04:18] faruk17035 commented on #152
I solved this error dear Sir. Thanks a lot for helping me. I am very grateful to you

[2021-07-25 09:54] prihoda opened #153 "Getting basic disorder prediction scores"
Hi all, I would like to extract the predicted output activation for basic secondary structure predictions, specifically for disorder predictions.

Could be easily added here:

https://github.com/sacdallago/bio_embeddings/blob/67f0e710a44e15486f88d08042fcbb3021c8d0c6/bio_embeddings/extract/basic/BasicAnnotationExtractor.py#L153-L157

Would you consider merging such a pull request, if I give it a sh

[2021-07-28 12:13] konstin commented on #142
The ESM package is great to use actually, and `load_model_and_alphabet_core` already handles all state dict matters nicely. The only very minor issue with ESM1v is that there's no flag to skip the `Regression weights not found, predicting contacts will not produce correct results.` warning even though this is not relevant for bio_embeddings.

---

Let me phrase my question regarding the ensemble d

[2021-07-28 13:59] konstin commented on #132
I could also only reproduce this with `--user`, when I do the following instead I get a correct installation on ubuntu 18.04:

[code]

Note however that conda by default also imports from the user site packages (https://github.com/conda/conda/issues/448) unless `export PYTHONNOUSERSITE=True` is explicitely set (https://github.com/conda-forge/python-feedstock/issues/171#issuecomment-374261534)

[2021-07-28 13:59] #132 closed, assigned to nobody

[2021-07-30 09:03] sacdallago commented on #153
Hi @prihoda , thanks for the proposal :) I'd love to see more community effort into development of ~our~ **everyones!** tools, so yes: if you believe this is helpful, you are most welcome to contribute. Now to your questions:

Yes!

I believe it makes sense to add it for all multiclass outputs, if it's not a major time investment, for you!

The function that you mention will most likely always ret

[2021-08-02 12:50] konstin commented on #142
`esm1v` is now available on the develop branch as embedder protocol and in the python api as [ESM1vEmbedder](https://docs.bioembeddings.com/develop/api/bio_embeddings.embed.html#bio_embeddings.embed.ESM1vEmbedder) :rocket:

[2021-08-02 12:50] #142 closed, assigned to nobody

[2021-08-02 14:04] konstin commented on #92
This is done

[2021-08-09 16:41] tomsercu commented on #142
@konstin circling back on "ensemble takes the mean over the five log odds ratios?"
You are correct. This is analogous with how deepsequence is ensembled as well. In fact this corresponds to a geometric mean of probabilibities; a arithmetic mean could also be considered but we decided to keep things simply in line with prior work here.

[2021-08-16 14:35] sacdallago opened #154 "files should terminate in _file"
I noticed we have this: https://github.com/sacdallago/bio_embeddings/blob/develop/bio_embeddings/utilities/defaults.yml#L63 which slipped my attention at the review stage.

The reason I have files end in _file and directories end in _directory is that this way the output .yml of every stage / of the entire pipeline has either paths where the keys end in _file or _directory, otherwise values.

This

[2021-08-17 08:44] BioLaoXu opened #155 "change final out embedding dimension"
i have tested two embedders :ProtTransBertBFDEmbedder and SeqVecEmbedder，pretty nice，they quickly embedding my amino acid sequences;the length of my amino acid sequence is between 10AA and 20AA，I need to embedding each of them to a fixed dimension,for example:30 dimension,however the default out embedding dimension of ProtTransBertBFDEmbedder and SeqVecEmbedder is 1024, i have created an inheritan

[2021-08-17 09:31] konstin commented on #155
Hi, the language models we ship have a fixed dimensionality that is fixed through their training. If you want lower dimensional embeddings, you need some separate dimensionality reduction method such as PCA or an autoencoder

[2021-08-19 09:57] sacdallago commented on #155
Hi @xf78 , thanks for using bio-embeddings.

As @konstin pointed out, the embedding dimention is set during training of the models (whichever one you pick), so there's no immediate way of changing that dimension out of the box, without retraining the models.

What @konstin proposes is a good approach if you really need smaller embeddings. Be careful about data-driven vs. "self supervised" approach

[2021-08-19 09:57] #155 closed, assigned to nobody

[2021-08-24 07:36] #154 closed, assigned to konstin

[2021-08-25 07:08] konstin commented on #92
Too quick, http://data.bioembeddings.com/public/embeddings/notebooks/pipeline_output_example/reduced_embeddings_file.h5 still needs to be updated

[2021-08-29 18:51] nprime496 opened #156 "HTTPError: HTTP Error 406: Not Acceptable SeqVecEmbedder"
Hi everyone, I'm trying to instantiate `bio_embeddings.embed.SeqVecEmbedder` but it outputs an HTTP error :

![Screenshot from 2021-08-29 19-48-18](https://user-images.githubusercontent.com/54849528/131262015-9c173391-b892-4533-8493-fa7d0b87172e.png)

[2021-08-30 09:30] ddofer commented on #156
I'm getting the exact same error, for all the embedding models.

[2021-08-30 10:15] Xinxinatg commented on #156
Same here.

[2021-08-31 08:53] sacdallago commented on #156
Hi, thanks for spotting. Let me have a look.

The issue here is that weights of the models cannot be downloaded. It seems that the server where weights are stored is up: http://data.bioembeddings.com/public/embeddings/embedding_models/

if you have neccessity to run experiments right now, I suggest you download the weights right now and pass them to the constructor of the embedder. E.g. for seqvec

[2021-08-31 09:26] ddofer commented on #156
Is there a way to load downloaded weights/options with the python package (instead of using the preconfigured config files)?
(I couldn't find that in the documentation).
(My pipeline is already  set up with that, not yaml configs.  i.e `embedder = ProtTransBertBFDEmbedder(half_model=True)`

Thanks!

[2021-08-31 09:45] sacdallago commented on #156
@ddofer yes, you simply pass the path to the constructor with the name of what it is.

[code]

in this case, `/path/to/weights/directory` is the unzipped directory you fish from: http://data.bioembeddings.com/public/embeddings/embedding_models/bert/

Which files to download and what they are called (to pass it to the constructor) can be found here: https://github.com/sacdallago/bio_embeddings/blob

[2021-08-31 09:48] ddofer commented on #156
Thanks!
(I just came to delete this comment, after I made that same workaround myself before your reply :))

[2021-08-31 10:05] konstin commented on #156
Can confirm:

Fails:

[code]

Works:

[code]

[2021-08-31 11:25] sacdallago commented on #156
@konstin [this is what we'd need to change](https://github.com/sacdallago/bio_embeddings/blob/develop/bio_embeddings/utilities/remote_file_retriever.py#L75), to something like:

[code]

The only issue is tqdm

[2021-08-31 11:27] sacdallago commented on #156
I'll fix this for now and we'll see about tqdm later

[2021-08-31 12:38] sacdallago commented on #156
@nprime496 @ddofer @Xinxinatg this issue should be solved with the latest version in develop. Please install using:

[code]

We need to re-implement the progress bar (tqdm).

[2021-08-31 12:38] #156 closed, assigned to sacdallago

[2021-08-31 12:39] sacdallago opened #157 "Re-impmenet progress bar on weights download"
Basically address the TODOs from 9a1d7574e793b98d720b5d005b1ff155e7fe6c85 , which are a fix to #156

[2021-08-31 12:56] sacdallago opened #158 "ESM pipeline failing?"
@HannesStark reports:

[code]

Basically:

[code]

means `max` is run on an empty sequence. Seems strange to me...

@HannesStark please add config & fasta here

[2021-08-31 12:58] sacdallago commented on #158
quick fix would be to default to 0

[code]

but may be symptom of bigger issue (happens at the beginning of the pipeline -- why would the pipeline try to embed an empty set of sequences?)

CC @konstin

[2021-08-31 13:05] konstin commented on #158
I had already fixed that once but only `embed_many` and not also in `embed_batch`:

https://github.com/sacdallago/bio_embeddings/blob/9a1d7574e793b98d720b5d005b1ff155e7fe6c85/bio_embeddings/embed/esm_embedder.py#L69-L71

I guess the empty sets are artifacts of the batching, but we have to support them for the python api anyway so I think they're fine

[2021-08-31 13:10] sacdallago commented on #158
Alright. I suppose the `default` fix should work as does the `if not`, no? The former comes with the plus that you don't need to cast the iterable to list

[2021-08-31 13:17] konstin commented on #158
iirc I tried `default=0` but it fails because now you iterate twice (once for _assert_max_len and once for embedding), so if you pass an actual iterator instead of a list it's empty on the second iteration and no embeddings will be produced.

[2021-08-31 13:22] sacdallago commented on #158
Aha! Good catch. I implemented it with `tee`

[2021-08-31 14:19] victormaricato opened #159 "HTTP Error 406: Not Acceptable when downloading model"
When I instanciate a model

[code]

I get `HTTP Error 406: Not Acceptable`

<details>
<summary> Full stack-trace </summary>

[code]
</details>

Happens just after the clean install of `bio-embeddings[all]`.

[2021-08-31 19:21] victormaricato commented on #159
Closing as it is a duplicate of https://github.com/sacdallago/bio_embeddings/issues/156

[2021-08-31 19:21] #159 closed, assigned to nobody

[2021-09-01 11:36] nprime496 opened #160 "FileNotFoundError METADATA"
Hey, I get this weird error each time the **first time** I try to use `bio_embeddings` package, then it disappears the next times.

![Screenshot from 2021-09-01 12-31-31](https://user-images.githubusercontent.com/54849528/131664429-0d946622-e4cc-4936-a1ea-174c393d6e12.png)

[2021-09-01 11:56] nprime496 commented on #160
<details>
<summary>Complete stacktrace</summary>
<br>

[code]
</details>

[2021-09-01 14:43] sacdallago commented on #160
Yeah, I guess this happens on Colab? I don't know, Colab remains a mistery to me, it does weird things. I happen to get some "errors" on there, too, and upon re-executing the same cell: error's gone. REALLY difficult to debug :(

[2021-09-01 14:44] sacdallago commented on #158
Fixed in a5e6bce76dbf0de964b84abed891b3f4dca4be21

[2021-09-01 14:44] #158 closed, assigned to nobody

[2021-09-01 16:02] konstin commented on #160
This is essentially the same as #123, but with another package. I've filed https://github.com/lmcinnes/pynndescent/pull/137 to fix this upstream. If required I can also add some hacky solution to work around this before we get the upstream fix.

[2021-09-02 08:51] HannesStark commented on #158
Everything works now on my end.
A thousand thanks for the super fast fix!

[2021-09-02 10:06] konstin opened #161 "Old jaxlib releases are gone, breaking poetry's version resolution"
We currently depend on 0.1.57 because more recent versions need AVX2 which doesn't run on our CI, but it seems that they deleted everything older than 0.1.60: https://pypi.org/project/jaxlib/#history. Trying to resolve a new set of versions with poetry fails, I haven't check completely new installations yet.

One solution would be to update jaxlib and remove unirep from our CI.

[2021-09-03 09:23] HannesStark opened #162 "Protocol unirep: ImportError: cannot import name 'cusolver' from 'jaxlib' (/mnt/lsf-nas-1/os-shared/anaconda3/envs/hannes_bio_embeddings/lib/python3.7/site-packages/jaxlib/__init__.py)"
## Metadata
|key|value|
|--|--|
|**version**|0.2.1|
|**cuda**|True|

## Parameter
|key|value|
|--|--|
type|embed
protocol|unirep
reduce|True

## Traceback
[code]

## More info

[2021-09-03 09:25] sacdallago commented on #162
Probably related to #161

[2021-09-03 09:26] sacdallago commented on #161
Removing UniRep from the CI would also translate to discontinuing support for it, right? I already have a review were UniRep is specifically asked, I fear more will come.

[2021-09-03 09:27] sacdallago commented on #161
Another solution is to have a gitlab runner on a more serious machine which we can turn on and off on demand, or that we reserve for merge on dev. I'll ask Tim

[2021-09-03 09:50] konstin commented on #161
I'd go with for now updating jaxlib and deactiving UniRep in CI (we can still run the tests manually on the cluster), but longterm a machine with AVX2 would be very much appreciated. Imho ideal would be if we could run CI as job on the cluster using a local disk, which would mean no need for a dedicated machine and GPU tests, but I'm not sure how well gitlab and lsf interact.

[2021-09-03 17:14] rjtevon opened #163 "Getting HTTP 406 error when sequence emedding."
When trying to embed a simple sequence,

[code]
I get:
[code]

Included the full traceback below. Note that that traceback was when commenting out the ProtTrans embedder -- I get the same error on both.

<details>
  <summary>Full traceback</summary>

 weights.hdf5: 0.00B [00:00, ?B/s]
---------------------------------------------------------------------------
HTTPError

[2021-09-04 04:53] Xinxinatg opened #164 "The relevent source/paper to cite for each method"
Hi thanks for this comprehensive work. Just wondering how can I know how to cite each of these individual embedding method. Like the word2vec one in this repo, there are multiple methods using word2vec but got different names.

[2021-09-06 04:27] konstin commented on #163
Our hosting provider changed their configuration, see #156. This should be fixed in v0.2.2

[2021-09-06 04:27] #163 closed, assigned to nobody

[2021-09-06 07:15] sacdallago commented on #164
Hi @Xinxinatg , thanks for bringing this up. It's been a long standing issue for me to rewamp the documentation and give proper credit to model authors. For the majority of the models, you can find at least the link to the manuscript [here](https://github.com/sacdallago/bio_embeddings#tools-by-category) or [here](https://github.com/sacdallago/bio_embeddings#non-exhaustive-list-of-tools-available-s

[2021-09-06 14:30] sacdallago opened #165 "Docker image not building"
It seems like the web-worker and pipeline images don't build on the same error. The webserver does. I assume the error is in thus somewhere in the Dockerfile?

Unlucky dependencies week continues.

[2021-09-10 05:34] konstin opened #166 "Scheduled builds are failing"
The more extensive CI runs are currently failing because they still try to run UniRep which the machine doesn't support

[2021-09-14 09:57] kvetab commented on #153
Hi @sacdallago, following your tips from above, I created a PR. I'm sure it will need some work, please feel free to comment on anything or contribute! There was also a big merge (I guess I should have waited for your
"Big refactoring" to be finished :), so I hope I didn't break anything in the process.
#168

[2021-09-15 13:54] Xinxinatg commented on #164
Thanks @sacdallago ! are there any chance that the details of training dataset for Word2Vec model can be provided? Just found so hard nowadays to find some other available source to extract embeddings from word2vec type of models.

[2021-09-22 08:38] sacdallago commented on #164
@mheinzinger do you remember how that was done?

[2021-09-23 07:29] mheinzinger commented on #164
Hey @Xinxinatg ,
thanks a lot for your interest in our work! :)
Before we started to write up word2vec based models, we already started working on SeqVec and dropped word2vec based models instead to focus on the more promising direction of LSTM-based models such as SeqVec (or now attention-based).
So we don't have an own publication for the word2vec based models trained in-house.
However, most of

[2021-09-30 01:48] DeepColin opened #169 "Take too long to initialize an embedder function"

[2021-10-11 18:14] faruk17035 opened #170 "After converting protein sequences into numbers, Can we apply LSTM model on the generated numerical datset?"
Dear Cristian Dallago Sir,
I wanted to apply LSTM on a numerical dataset for binary classification problems. First of all, I apply the word embedding method to convert text into the numerical dataset.

Can you help me Sir, if possible?

The dataset is look like the following link: (applying glove)
https://drive.google.com/file/d/1yXBXL1GghfGRz5nQeh0V39XqEASwhyEJ/view?usp=sharing

[2021-10-13 17:40] prihoda opened #171 "Including Sapiens antibody embeddings"
Hi @sacdallago and team,

we've been experimenting with training models for human antibody sequence representation, as described in this preprint: https://www.biorxiv.org/content/10.1101/2021.08.08.455394v1

Our Sapiens model and weights are open-sourced. Would you consider merging a PR that integrates the model? What are the prerequisites, and what should be included in the PR?

Thanks!
David

[2021-10-14 07:50] viko-3 opened #172 "How to emb some proteins which are not same length to same length？"
Hi, author,Good job for this code!
But I have a problem.
If I have some proteins, such as ['VRWFPFDVQHCKLK', 'PFDVQHC',...]
As you can see, they have different length, but I want to deal them to a same length.
So can I use the padding method in NLP? If so, which token should I pick as the pad character?

[2021-10-27 14:19] prihoda opened #173 "Getting residue scores (original MLM head predictions)"
Hi @sacdallago and @konstin. I know how to get embeddings, and how to get downstream predictions from the embeddings (such as secondary structure) using the classification head checkpoints. But is there also a way to get the predictions of the classification head used during the MLM pre-training?

These would be useful to inform which mutations can be made at each position (e.g. for protein design

[2021-10-27 15:39] konstin commented on #173
Hi, we actually have a module called "mutagenesis" with an [example](https://github.com/sacdallago/bio_embeddings/tree/develop/examples#mutagenesis) exactly for that, which should hopefully give you those mutation probabilities

[2021-10-28 16:07] jrhorne commented on #161
Is there an easy solution for local installations facing this issue? Is it just upgrading jaxlib with pip? Same as #162

[2021-11-01 08:38] prihoda commented on #173
Ah, I see, thanks @konstin! So if I understand it correctly, the MLM weights are included, the trick is loading the model using `BertForMaskedLM.from_pretrained` instead of `BertModel.from_pretrained`.

[2021-11-01 08:38] #173 closed, assigned to nobody

[2021-12-07 15:27] GiovannaNicora opened #174 "Handling X characters"
Hi, thanks for your useful work. I was just wondering how the different embedders are dealing with the presence of unknown AA (X character).

[2021-12-07 15:47] konstin commented on #174
If I remember correctly, all of them have X as a character their alphabet just like a normal amino acid. The representation will of course be mostly meaningless. The embedders vary though when it comes to rare AA, the ProtTrans models e.g. map U, Z, O and to X

[2021-12-07 17:52] mheinzinger commented on #174
In case of ProtTrans, we tested the effect of 'X' by using t-SNE to project uncontextualized embeddings (no attention, yet) of the 20 standard AAs and 'X' down to 2D. In the resulting plots, we saw a trend towards 'X' clustering with hydrophobic amino acids. One thing that stood out was that 'X' was for different transformers always very close to 'C'. So I assume that this might give you at least

[2021-12-07 17:52] #174 closed, assigned to nobody

[2021-12-07 17:56] mheinzinger commented on #172
You can use the 'embed_many' function of the embedders which handles the padding internally. The following notebooks holds a small example: https://github.com/sacdallago/bio_embeddings/blob/develop/notebooks/embed_fasta_sequences.ipynb

[2021-12-07 17:56] #172 closed, assigned to nobody

[2022-01-09 21:24] nhowla opened #175 "TypeError: load() missing 1 required positional argument: 'Loader'"
<img width="1362" alt="Screen Shot 2022-01-09 at 3 22 17 PM" src="https://user-images.githubusercontent.com/91193685/148701502-9254b7f8-ba66-4bf0-924d-e8071e70db62.png">

[2022-01-14 11:33] prihoda commented on #137
@ddofer Any news? :)

[2022-01-28 16:54] TheKursta commented on #162
Hi developers,

I'm currently encountering the same issue when importing UniRepEmbedder. Are there fixes or workarounds for this issue?

My environment:
python 3.7.11
bio_embeddings 0.2.2
jax 0.1.77
jax-unirep 1.0.3
jaxlib 0.1.75

[2022-01-28 17:46] TheKursta commented on #162
Currently for me temporary fix has been to update jax packages in conda environment for bio_embeddings.
pip install jax==0.2.27
pip install jax-unirep==2.1.0
pip install jaxlib==0.1.76

[2022-02-08 17:32] ms337 opened #182 "How to reset a corrupted model download?"
Tried to use the ESM1-b embedder. When init for the first time, ran out of space on disk. So the download was incomplete.
Now when I try to run the script again, the module tries to use the corrupted downloaded file:

`Python Error: RuntimeError: unexpected EOF, expected 3194894 more bytes. The file might be corrupted.`

Is there a `force_download=True` argument? Or is there anyway to delete the d

[2022-02-08 17:41] konstin commented on #182
You can delete the esm1b folder in `~/.cache/bio_embeddings`, then it should do the download again

[2022-02-11 06:35] hoangthienan95 opened #183 "Change default cache dir?"
I'm having problem with these two specific lines

https://github.com/sacdallago/bio_embeddings/blob/develop/bio_embeddings/utilities/remote_file_retriever.py#L49
https://github.com/sacdallago/bio_embeddings/blob/develop/bio_embeddings/utilities/remote_file_retriever.py#L106

My default cache directory at work has a limit of 10 GB, so it fails downloading the models. How do I overwrite `appdirs.use

[2022-02-11 06:39] hoangthienan95 commented on #175
this is a problem with pyyaml, see https://stackoverflow.com/questions/69564817/typeerror-load-missing-1-required-positional-argument-loader-in-google-col

Just add `!pip install pyyaml==5.4.1` in a cell as the last package installation line, before importing any package

[2022-02-11 07:16] hoangthienan95 commented on #183
Found a quick fix:

1. Install the package [gorilla](https://pypi.org/project/gorilla/)
2. Whatever script you are using `bio_embeddings` in, add this code at the top:

[code]

In my case, I added this code to the beginning of `EAT/eat.py` from https://github.com/Rostlab/EAT

[2022-02-11 12:42] konstin commented on #183
You can set `XDG_CACHE_HOME` (https://github.com/ActiveState/appdirs/blob/8eacfa312d77aba28d483fbfb6f6fc54099622be/appdirs.py#L313). But it might be easier to just make .cache/bio_embeddings a symlink to the storage dir

[2022-02-11 16:19] hoangthienan95 commented on #183
Thanks for the alternatives! Forgot about symlink, that's probably the easiest way

[2022-02-11 18:33] #183 closed, assigned to nobody

[2022-02-15 15:49] sacdallago commented on #169
Hi @DeepColin ,

thanks for using bio-embeddings, and sorry for the late reply! Could you be a bit more specific on the issue? The models need to be downloaded first, and depending on the model, these might be several GBs. Once on disk, they need to be mounted on RAM/vRAM which adds additional time cost. These things we can't optimize.

If you note any slow down on operations that could otherwise

[2022-02-15 15:49] #169 closed, assigned to nobody

[2022-02-15 15:54] sacdallago commented on #170
Hi @faruk17035 ,

sorry for the long wait -- was on a longer leave, and slowly getting back to things. You can apply any method (including, for instance, scikit-learn models) on either residue or sequence embeddigns for binary classification tasks: https://scikit-learn.org/stable/modules/neural_networks_supervised.html

The features will be the embeddings for either residues or sequences

[2022-02-15 15:54] #170 closed, assigned to nobody

[2022-02-15 15:57] sacdallago commented on #171
Hi @prihoda ,

sorry for very late reply -- was away for a longer bit! Sure, I'd be happy to integrate the model, regarding the data: I can host it for you, or you can upload it to zenodo, if it's less than 50GB. I noticed that the uptake of data from this resource is quite significant.

I'd be happy to set up a call to discuss if you are still interested :) I'm slowly maintenance work on bio-embe

[2022-02-15 15:58] sacdallago commented on #175
Thanks for pointing this out. I have collected some dependency issues by now, I'll try to make a new version with current versioning available within the next 2 weeks or so!

[2022-02-15 15:58] #182 closed, assigned to konstin

[2022-02-15 20:25] #175 closed, assigned to sacdallago

[2022-02-15 20:33] prihoda commented on #171
Hi @sacdallago that's great to hear.

Just recently I created a dedicated repo for Sapiens: https://github.com/Merck/Sapiens. It's not on pypi yet though, turns out the sapiens package name is blocked (https://github.com/pypa/pypi-support/issues/1651)

It depends on fairseq https://github.com/pytorch/fairseq. Is that a problem?

By data, you mean the weights? Those are just a few Mb since I kept t

[2022-02-24 02:28] ms337 commented on #182
Dont have a `.cache` directory in my home directory

[2022-02-24 21:02] lam-ian commented on #162
Hi @TheKursta, I ran into same `cusolver` import error when attempting to use the `UniRepEmbedder`. I upgraded my `jax` packages to the same as yours but now ran into another error when trying to create a `UniRepEmbedder` object.

The error is as follows:
`ImportError: cannot import name 'load_params_1900' from 'jax_unirep.utils' (/home/ec2-user/SageMaker/custom-miniconda/miniconda/envs/py38_bioem

[2022-02-28 07:35] FYY99117 opened #184 "ValueError: numpy.ndarray size changed, may indicate binary incompatibility. Expected 96 from C header, got 88 from PyObject"
I'm using Jupiter notebook to run `from bio_embeddings.embed import SeqVecEmbedder `reported an error`ValueError: numpy.ndarray size changed, may indicate binary incompatibility. Expected 96 from C header, got 88 from PyObject`. I tried the following methods, but they didn't work。
`pip uninstall numpy`
`pip install numpy==1.21.2`

[2022-03-16 15:39] sacdallago opened #186 "Add nferruz/ProtGPT2"
https://huggingface.co/nferruz/ProtGPT2

[2022-03-16 15:40] sacdallago commented on #184
Thanks for reporting the issue. Coudl you give me some more detail about how you install the pipeline (from pypi or from github?)

[2022-03-16 15:44] sacdallago commented on #161
As of now, we lack capacity to support UniRep, unfortunately. Fact is: it doesn't seem to stack up to more modern models, and given limited capacity, we rather focus on those.

[2022-03-18 14:11] nick-youngblut commented on #183
Any plans on creating a non-hacky way of specifying the cache directory?

[2022-03-18 19:35] sacdallago opened #187 "Add merck/sapiens"
https://github.com/merck/sapiens

[2022-03-29 07:51] prihoda commented on #187
Hi @sacdallago thanks for tracking this. Note that we also have this ticket: https://github.com/sacdallago/bio_embeddings/issues/171

Sapiens is now on pypi: https://pypi.org/project/sapiens/

Python 3.7 or 3.8 is currently required, installing for Python 3.9 and higher is broken due to fairseq bug: https://github.com/pytorch/fairseq/issues/3535

Some infilling and embedding examples are found in

[2022-03-29 10:36] sacdallago commented on #183
Hi @nick-youngblut , I'll consider adding the feature to the next release, but there are a couple more burning issues on my list (although: small change, should be quick to do... but you never know what goes wrong in the process :))

[2022-03-30 15:52] pskvins opened #189 "Protocol prottrans_bert_bfd: BadZipFile: File is not a zip file"
Hi,
I am trying to get embeddings of proteins, but I'm encountering an error as following

[code]

I installed bio_embeddings by `pip install bio-embeddings[all]` and ran `bio_embeddings --overwrite embed.yml`.
The content of the embed.yml is as following
`global:
  sequences_file: /home/sukhwan/cluster_idr/sample.fasta
  prefix: sample_result
  simple_remapping: True

prottrans_t5_bfd_embeddings:

[2022-03-30 16:58] kvetab opened #190 "Import error"
Hi,
I was using bio_embeddings before without any issues, but then my environment broke and I had to create a new one and since then I can't import the SeqVec embedder, when I run `from bio_embeddings.embed import SeqVecEmbedder` I get
`ImportError: cannot import name 'SeqVecEmbedder' from 'bio_embeddings.embed' (/home/brazdilv/.conda/envs/bio/lib/python3.9/site-packages/bio_embeddings/embed/__ini

[2022-04-01 10:39] prihoda commented on #190
This exception handing might be relevant https://github.com/sacdallago/bio_embeddings/blob/develop/bio_embeddings/embed/__init__.py#L137

You can try `from bio_embeddings.embed.seqvec_embedder import SeqVecEmbedder`

[2022-04-05 08:11] evabalini opened #191 "Feature importances with protein embedders"
Hello,

Thank you for your work and efforts on bio_embeddings. The library is really easy to use and well documented.
I was wondering if you have any insight on the explainability of an embedder.
More specifically, let's say we use the embeddings from esm and try to predict a certain target. Is there a way to know which region/position(s) of the sequence is important for the prediction?
This is no

[2022-04-11 12:12] kvetab commented on #190
That doesn't help, unfortunately. It just gives a different error with and without allennlp. But thanks :)

[2022-04-11 16:01] nilsimda commented on #191
Hi,

since this is also part of my research I'll share my insight on this. I am by no means an expert on this though. The embedders are typically large language models that use the transformer architecture as a basis. This means they often have hundreds of millions of parameters that all determine the prediction, which makes it harder to rank feature importance and is the reason that Deep Learning

[2022-05-09 10:30] avilella opened #193 "Solubility / Aggregability / Stability"
Hi,

I found the list of different bio embeddings in this repo today and I was wondering which of the embeddings have code to predict the "Solubility / Aggregability / Stability" or the proteins in 3D structure. E.g. PLUS mentions Solubility, but there is only a "train" or "eval" python script. I presume this means there is no straight way to "predict" based on the PLUS repo?

[2022-05-09 11:32] sacdallago commented on #193
Hi @avilella , thanks for pining.

bio-embeddings was mostly born out of the need to aggregate embeddings from different models around a unified interface. We later added some prediction models (in the extract stage) on top of some of the embeddings, specifically the ones that we published in the lab. One of those models (light attention) predicts solubility, based on the DeepLoc v1 dataset (https

[2022-05-09 11:32] #193 closed, assigned to nobody

[2022-05-09 11:35] avilella commented on #193
Thanks, I presume I can run the "light attention" solubility prediction from the `cli.py`? Does it give a quantitative measure other than categorical answer?

[2022-05-09 11:36] sacdallago commented on #193
Yop, here's an example: https://github.com/sacdallago/bio_embeddings/tree/develop/examples/light_attention

[2022-05-09 12:22] avilella opened #194 "docker: Error response from daemon: could not select device driver "" with capabilities: [[gpu]]."
I've downloaded the latest docker image on an Ubuntu Linux 21.10 computer which contains a 16GB NVidia GPU (and 6 more NVidia GPUs with 4GB of RAM).

[code]

How do I point the GPUs to the docker container? Thanks

[2022-05-09 12:36] sacdallago commented on #194
Hmm, sorry, this looks like a driver/docker issue which is new to me & I wouldn't know how to help you out. Have you tried to see if the simple smi docker nvidia works? `docker run --rm --gpus all nvidia/cuda nvidia-smi`, or `docker run --rm --gpus 6 nvidia/cuda nvidia-smi`

[2022-05-09 12:47] avilella commented on #194
Oh, I see. I think this is an Unsupported distribution by nvidia docker.

On Mon, May 9, 2022 at 1:36 PM Christian Dallago ***@***.***>
wrote:

[2022-05-09 13:00] avilella commented on #194
I managed to replicate the steps of Dockerfile in the machine itself. It
wasn't clear to me that the command-line was going to be the one below
after the poetry-based installation:

~/bio_embeddings$ ~/.local/bin/bio_embeddings
~/bio_embeddings/examples/light_attention/config.yml
2022-05-09 13:58:29,683 INFO Created the prefix directory la_prott5
2022-05-09 13:58:29,683 INFO Created the file
la_pr

[2022-05-09 13:03] sacdallago commented on #194
great to hear you found a solution

[2022-05-09 13:03] #194 closed, assigned to nobody

[2022-05-09 14:46] abdush opened #195 "pytorch compatibility with NVIDIA A100"
Hello,

I am facing issue when trying to run the bio_embeddings library on NVIDIA A100 GPU.

[code]

I did a search and found some answers on stackoverflow where pytorch had to be re-installed with new cuda version (11.x instead of 10.2). However, I am wondering if this is safe to update the pytorch library installed as part of bio_embeddings and what impact it might have on other installed librar

[2022-05-10 08:01] abdush commented on #195
Updating to cuda 11.1 for the installed torch version fixed the issue. I have tried with the pip command as in the link below.

`pip install torch==1.9.1+cu111 -f https://download.pytorch.org/whl/torch_stable.html`

https://pytorch.org/get-started/previous-versions/#v191

[2022-05-10 13:57] avilella commented on #193
Could we have the website display the quantitative prediction for solubility next to the categorical one? Thx in advance.

I haven't managed yet to make it work locally (issues with the Nvidia GPU drivers) but it'd be good to try a few on the webpage.

[2022-05-12 03:39] johnnytam100 commented on #182
same issue, any workaround?

[2022-05-12 06:54] sacdallago commented on #193
Hi, no, unfortunately for now we don't plan to add this feature to the webserver. We'll consider it for future iterations.

[2022-05-12 06:58] sacdallago commented on #189
Hey, I'm unsure 🤔  a corrupted zip download? You can download the ZIP manually from here: http://data.bioembeddings.com/public/embeddings/embedding_models/bert/

Then unzip it using whatever system software you have.

last, in the config you just need to add a parameter `model_directory` in the `prottrans_t5_bfd_embeddings` stage: https://github.com/sacdallago/bio_embeddings/blob/develop/examples/

[2022-05-12 06:59] sacdallago commented on #189
P.S.: why ProtBert? It's not the best performing model! ProtT5 is: https://github.com/agemagician/ProtTrans/blob/master/README.md#-comparison-to-other-protein-language-models-plms

[2022-05-12 07:39] sacdallago commented on #190
Hi @kvetab , sorry for the late response. Have you had any success? Could you give stack traces?

[2022-05-12 07:45] sacdallago commented on #191
Thanks for the contribution @nilsimda . @evabalini : in short, we don't exactly know what the embeddings encode, in what layers, or on what heads. It's an open research question.

For specific targets, and modifications there of (so, you are working around some WT sequence), probably some heads will fire up, that may be responsible for structural features, or even encode for binding ability of res

[2022-05-12 07:45] #191 closed, assigned to nobody

[2022-05-12 07:47] sacdallago commented on #195
Woho, lucky you ;)

Yeah, the whole CUDA+torch compatibility matrix is a nightmare to keep up with. I have a PR open on our internal fork of the repo by a student with an update to torch, might make things easier from source.

[2022-05-12 07:47] #195 closed, assigned to nobody

[2022-05-12 12:35] kvetab commented on #190
Hi @sacdallago ,
I found an older working installation in the end, so I was able to produce the embeddings I needed. But no, I wasn't able to actually solve this problem.

For `from bio_embeddings.embed import SeqVecEmbedder` I only got this:
[code]
and for `from bio_embeddings.embed.seqvec_embedder import SeqVecEmbedder` I got
[code]
I'm providing these just for completeness, I don't actually nee

[2022-05-15 13:37] sacdallago commented on #190
Thanks @kvetab , I'm happy you were able to make it work out. Version management is truly challanging, especially in the python universe. Seems that some Allennlp dependency changed something in the background resulting in a broken depenency tree.

I'll see if through some updates coming up we can solve the issue

[2022-05-16 17:05] jondeans commented on #184
I ran into the same issue.

Installed into a fresh environment

[code]

[code]

Execute

[code]

[Looks like this is an issue with pinning numpy and gensim issues.](https://github.com/RaRe-Technologies/gensim/issues/3226) gensim also claim that `gensim@3.8.3` is no longer supported and users should upgrade to 4.0.0+

[2022-05-17 15:56] faruk17035 opened #196 "How to solve this error?"
![image](https://user-images.githubusercontent.com/54856692/168855412-bb6a59c4-7bac-4608-9ad3-01ad052e712e.png)

[2022-05-17 15:59] faruk17035 commented on #196
I think there is no identical sequences in my dataset

[2022-05-17 19:16] jondeans commented on #190
@kvetab How did you install? Did you specify any extras?

I had this same issue when doing `pip install bio_embeddings` and not specifying any extras.

After installing with `pip install bio_embeddings[seqvec]` the problem was resolved on my end.

[2022-05-18 14:07] sacdallago commented on #190
yeah, it's been a long-lasting goal to make the relationship between extras and models a bit more clear from a documentation perspective...

[2022-05-18 14:10] sacdallago commented on #196
You can find some discussion about that here: https://github.com/sacdallago/bio_embeddings/issues/42#issuecomment-670849033

[2022-05-18 14:10] #196 closed, assigned to nobody

[2022-05-19 19:03] jondeans commented on #184
If I force `gensim==4.2.0` and `numpy==1.22.0` I no longer get the error, but a few warnings about `bio_embeddings` compatibility, of course.

Trying `numpy<1.22` errors out and fails to build the wheel thats PEP 517 compliant.

[2022-05-23 13:32] sacdallago commented on #184
Thanks @jondeans . I noticed that CI also started failing us recently do to the outdated depenency stack. I guess I'll make a student' life miserable for the next week by tasking him with cleaning up :)

[2022-05-26 15:21] #189 closed, assigned to nobody

[2022-05-26 16:03] #190 closed, assigned to nobody

[2022-05-26 19:43] sacdallago opened #197 "webserver worker failing on no flask?"
[code]

[2022-05-26 19:55] sacdallago commented on #197
Outdated version of flask may be cause (https://github.com/pallets/markupsafe/issues/284). Should be fixed with 0b97edd4f82fcb7ffe12099aedc1e55a4dd9a503

[2022-05-26 19:55] #197 closed, assigned to sacdallago

[2022-06-01 16:15] victormaricato commented on #32
https://github.com/jerryji1993/DNABERT could be an option

[2022-06-22 23:44] drorhunvural opened #199 "detokenize/reverse embedded array"
After using ProtTransBertBFDEmbedder() or any other embedding methods, is there any way to detokenize/reverse embedded array?

For example,
[code]

Is there a way to get the original sequence again by using 'reduce_per_protein'?

[2022-07-06 15:05] AugustEhl opened #200 "ImportError when importing ProtTransT5XLU50Embedder"
Hi,
I get the following error when trying to import ProtTransT5XLU50Embedder:
[code]
I installed bio_embeddings with:
[code]
Anyone got the same error? Did you solve it?

[2022-07-23 01:29] drorhunvural opened #201 "render_3D_scatter_plotly Error"
`from bio_embeddings.visualize import render_3D_scatter_plotly`

**_TypeError: load() missing 1 required positional argument: 'Loader'_**

I am getting an error like above when I try to import render_3D_scatter_plotly

**Note:** It wasn't giving these errors before. Changes made in the last 1 month may have caused it.

[2022-08-14 17:13] C-Marquet opened #202 "Text on embed.predictprotein.org"
1. Header: Lamdba -> Lambda
2. Navigate to desired features: toplogy -> topology
3. print friendly page: toplogy -> topology
4. sometimes subcellular location and sometimes localization (not sure if thats relevant)
5. VESPAi -> VESPAl (L for light)
6. Glossary: still says EMPP

[2022-08-20 02:08] XiaofangJ opened #203 "Protocol deepblast: AttributeError: can't set attribute"
## Metadata
|key|value|
|--|--|
|**version**|0.2.2|
|**cuda**|True|

## Parameter
|key|value|
|--|--|
type|align
protocol|deepblast
depends_on|transferred_annotations_cosine
reference_fasta_file|cath-db.fasta

## Traceback
[code]

## More info

[2022-09-02 03:14] wenyuhaokikika opened #204 "Protocol esm: UnpicklingError: invalid load key, '<'."
## Metadata
|key|value|
|--|--|
|**version**|0.2.2|
|**cuda**|True|

## Parameter
|key|value|
|--|--|
type|embed
protocol|esm
reduce|True

## Traceback
[code]

## More info

[2022-09-05 08:42] wenyuhaokikika commented on #204
remove model and download again.
https://github.com/danielgatis/rembg/issues/154#issuecomment-943182349

[2022-09-05 08:43] #204 closed, assigned to nobody

[2022-09-15 13:29] DimitrisAlivas opened #205 "Package dependency error."
Hello bio_embeddings team,

Thank you for your amazing contribution. It is great to be able to easily use LLMs trained on bio data and perform further research.

I've used the library in the past (approx. 1 year ago) and currently I am trying to re-use it in my research.

The issue is that currently the: `pip install .` or the `pip install bio-embeddings[all]` doesn't work for me, even on a comple

[2022-09-30 20:43] t03i opened #210 "Feature Request: Add Worker version to status API"
It would be very helpful for reference if the worker would return its status and the currently deployed version when querying the status using the API.

[2022-10-05 21:04] yangyangdotcom opened #211 "segmentation fault"
OS:macOS Monterey
Python: 3.9.13

After I use pip to install bio_embeddings, my program return segmentation fault error. I suspect it is because of my OS version. Anyone know how exactly to solve this problem? Thank you

[2022-10-11 03:08] wenyuhaokikika opened #212 "It may be better to let the user define whether the same redundant is allowed or not"
bio_embeddings raise Exception
[code]
i think it should allow user select, in yml config file.
if i just has few redundant sequence, and it so difference ro record these redundant sequence.

[2022-10-15 02:19] 98jxy commented on #107
Hi, have you solved this problem?

[2022-10-27 02:01] #203 closed, assigned to nobody

[2022-11-02 08:58] sacdallago commented on #212
Hi, there is already an option for that: https://github.com/sacdallago/bio_embeddings/issues/42#issuecomment-670849033

[2022-11-02 08:58] #212 closed, assigned to nobody

[2022-11-02 09:00] sacdallago commented on #202
Moving issue

[2022-11-02 09:00] #202 closed, assigned to nobody

[2022-11-02 13:43] SebieF commented on #200
Hello,

this is kind of a late answer but likely you have to install via
[code]
or
[code]

[2022-11-03 10:16] sudo349 opened #215 "AssertionError: Failed in nopython mode pipeline (step: native lowering) Storing i64 to ptr of i32 ('dim'). FE type int32"
when  bio_embeddings config.yml
i get
AssertionError: Failed in nopython mode pipeline (step: native lowering)
Storing i64 to ptr of i32 ('dim'). FE type int32

numba  0.56.3
what should i do

[2022-11-04 06:38] sudo349 opened #216 "I want to know the configuration of the people who run successfully"
I always have strange mistakes

[2022-11-04 07:48] wenyuhaokikika opened #217 "CUDA out of memory."
I had this problem when running the embed of bio_embedding,
[code]
![image](https://user-images.githubusercontent.com/40107519/199920322-957d7c8b-bc08-4876-b0c0-995949ee921a.png)

Although the final result is calculated, I am not sure if it calculated it correctly.
Is there any option that can be set to avoid this, e.g. reduce batch_size size, use multiple GPU operations.
I did not find the releva

[2022-11-04 08:00] zff1116 commented on #217
I seem to have the same problem...

[2022-11-11 15:14] fedorn commented on #216
It's working for me with the following conda's `environment.yml`:
[code]

[2022-11-11 15:17] fedorn commented on #217
`EmbedderInterface.embed_many` has a `batch_size` argument, but it doesn't use batching by default and processes each sentence individually.

[2022-11-11 15:19] fedorn opened #218 "Add support for ESM-2 and ESMFold"

[2022-11-11 15:23] fedorn opened #219 "Update jax-unirep dependency version"
Currently it doesn't work with jax-unirep versions above 1.0.3 because `load_params_1900` was removed from `jax_unirep.utils` in this commit https://github.com/ElArkk/jax-unirep/commit/3ba7166ad3015deb88bd51cc53bc6013052415bd

[2022-11-14 21:39] yangyangdotcom commented on #184
Any luck on this bug?